{::nomarkdown}
	</div>
</section>

<div class="layout__section layout__section--spaced-70 layout__section--fitted layout__section--bordered layout__section--rounded"
	js-code-block-parent
>
	<div class="layout__section">
		<div class="layout__inner {{ include.layoutInnerModifiers }}">
			<div>
				{{- include.content -}}
			</div>
		</div>
	</div>
	<div class="layout__section layout__section--bordered-top layout__section--spaced-0">
		<div class="layout__inner layout__inner--padded-70">
			<button class="button button--90 button--full"
				js-code-block-toggle
			>
				&lt;&#47;&gt; Show code
			</button>
		</div>
	</div>
	<div class="layout__section layout__section--spaced-0 layout__section--bordered-top layout__section--rounded-bottom"
		js-code-block
		style="display:none"
	>
		{%- highlight html -%}
			{{- include.content -}}
		{%- endhighlight -%}
	</div>
</div>

<section class="layout__section">
	<div class="content">
{:/nomarkdown}
