@import '../../site/_data/icons/scss-variables.json';

// Set default variations of icons with multiple weights
$icon-arrow-down: $icon-arrow-down-regular !default;
$icon-arrow-left: $icon-arrow-left-regular !default;
$icon-arrow-right: $icon-arrow-right-regular !default;
$icon-arrow-up: $icon-arrow-up-regular !default;
$icon-check: $icon-check-regular !default;
$icon-chevron-down: $icon-chevron-down-regular !default;
$icon-chevron-left: $icon-chevron-left-regular !default;
$icon-chevron-right: $icon-chevron-right-regular !default;
$icon-chevron-up: $icon-chevron-up-regular !default;
$icon-cross: $icon-cross-regular !default;
$icon-exclamation: $icon-exclamation-regular !default;
$icon-information: $icon-information-regular !default;
$icon-minus: $icon-minus-regular !default;
$icon-placeholder: $icon-placeholder-regular !default;
$icon-plus: $icon-plus-regular !default;
