$range-palm: (320px, 440px);
$range-palm-s: (320px, 360px);
$range-palm-m: (361px, 400px);
$range-palm-l: (401px, 440px);

$range-hand: (441px, 680px);
$range-hand-s: (441px, 520px);
$range-hand-m: (521px, 600px);
$range-hand-l: (601px, 680px);

$range-lap: (681px, 1040px);
$range-lap-s: (681px, 800px);
$range-lap-m: (801px, 920px);
$range-lap-l: (921px, 1040px);

$range-desk: (1041px, 2180px);
$range-desk-s: (1041px, 1280px);
$range-desk-m: (1281px, 1640px);
$range-desk-l: (1641px, 2180px);
