// # Descriptive colors
// - Only use descriptive colors to define functional colors in this document.
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-grey: rgb(162, 174, 187);
$color-yellow: rgb(239, 183, 86);
$color-purple: rgb(140, 83, 131);
$color-blue: rgb(49, 133, 252);
$color-red: rgb(226, 77, 63);
$color-green: rgb(114, 155, 121);

// # Functional colors
// - Always use a descriptive color to define a functional color.
// - Always use the right functional color even when two (or more) functional colors have the same descriptive color (e.g. $color-heading and $color-primary). This will help when you want to target a specific color.

// ## User Interface
$color-ui: $color-grey;
$color-ui-accent: $color-blue;

// ## Typography
$color-heading: $color-blue;
$color-subheading: $color-blue;
$color-text: $color-black;
$color-text-diap: $color-white;

// ## Hierarchical
$color-cta: $color-yellow;
$color-primary: $color-blue;
$color-secondary: $color-purple;

// ## States
$color-error: $color-red;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-info: $color-blue;
$color-select: $color-purple;
$color-focus: $color-green;

// # Additional colors
// - Can be used for shared color variables in different components (e.g. $color-card-background), in specific state (e.g. $color-logged-in) or themes (e.g. $color-corporate)
$color-shadow: $color-black;
$color-site-background: $color-white;
$color-input-background: $color-white;
$color-input-border: $color-ui;
$color-pop-out: $color-white;

// # Social media colors
$color-facebook: #3b5998;
$color-twitter: #00a0d1;
$color-linkedin: #0e76a8;
$color-youtube: #c4302b;
$color-pinterest: #c8232c;
$color-instagram: #3f729b;
$color-google-plus: #db4a39;

// # Ranges
// - Please keep the same variable order as above
// TODO: Update city blocks with necessary ranges
// IDEA: Add all color ranges to support shared components and use double colors when there are not enough colors avaiable. E.g. $color-text-300: $color-text-200; $color-text-400: $color-text-200;
$color-ui-40: tint($color-ui, 60%);
$color-ui-90: tint($color-ui, 10%);
$color-ui-300: shade($color-ui, 20%);
$color-ui-500: shade($color-ui, 40%);
