// # Descriptive colors
// - Only use descriptive colors to define functional colors in this document.
$color-black: rgb(0, 0, 0) !default;
$color-white: rgb(255, 255, 255) !default;
$color-grey: rgb(162, 174, 187) !default;
$color-yellow: rgb(239, 183, 86) !default;
$color-purple: rgb(140, 83, 131) !default;
$color-blue: rgb(49, 133, 252) !default;
$color-red: rgb(226, 77, 63) !default;
$color-green: rgb(114, 155, 121) !default;

// # Functional colors
// - Always use a descriptive color to define a functional color.
// - Always use the right functional color even when two (or more) functional colors have the same descriptive color (e.g. $color-heading and $color-primary). This will help when you want to target a specific color.

// ## User Interface
$color-ui-100: $color-grey !default;
$color-ui-accent: $color-blue !default;

// ## Typography
$color-heading: $color-blue !default;
$color-subheading: $color-blue !default;
$color-text: $color-black !default;
$color-text-diap: $color-white !default;

// ## Hierarchical
$color-cta: $color-yellow !default;
$color-primary: $color-blue !default;
$color-secondary: $color-purple !default;

// ## States
$color-error: $color-red !default;
$color-success: $color-green !default;
$color-warning: $color-yellow !default;
$color-info: $color-blue !default;
$color-select: $color-purple !default;
$color-focus: $color-green !default;

// # Additional colors
// - Can be used for shared color variables in different components (e.g. $color-card-background), in specific state (e.g. $color-logged-in) or themes (e.g. $color-corporate)
$color-shadow: $color-black !default;
$color-site-background: $color-white !default;
$color-input-background: $color-white !default;
$color-pop-out-background: $color-white !default;
$color-icon: $color-black !default;
$color-icon-diap: $color-white !default;

// # Social media colors
$color-facebook: #3b5998;
$color-twitter: #00a0d1;
$color-linkedin: #0e76a8;
$color-youtube: #c4302b;
$color-pinterest: #c8232c;
$color-instagram: #3f729b;
$color-google-plus: #db4a39;

// # Ranges
// - Please keep the same variable order as above
// - When you add a new variation of a color without a range, replace $color-name with $color-name-100 to indicate that there is a range
// TODO: Update city blocks with necessary ranges
// IDEA: Add all color ranges to support shared components and use double colors when there are not enough colors avaiable. E.g. $color-text-300: $color-text-200; $color-text-400: $color-text-200;
$color-ui-40: tint($color-ui-100, 60%) !default;
$color-ui-90: tint($color-ui-100, 10%) !default;
$color-ui-300: shade($color-ui-100, 20%) !default;
$color-ui-500: shade($color-ui-100, 40%) !default;
