// Descriptive colors
$color-black: #000;
$color-white: #fff;

// Functional Colors
$color-facebook: #3b5998;
$color-twitter: #00a0d1;
$color-linkedin: #0e76a8;
$color-youtube: #c4302b;
$color-pinterest: #c8232c;
$color-instagram: #3f729b;
$color-googleplus: #db4a39;