$font-size--70:  11px;
$font-size--80:  12px;
$font-size--90:  14px;
$font-size--100: 16px;
$font-size--200: 18px;
$font-size--300: 21px;
$font-size--400: 24px;
$font-size--500: 36px;
$font-size--600: 48px;