$font-weight-70:  100; // Hair
$font-weight-80:  200; // Thin
$font-weight-90:  300; // Light
$font-weight-100: 400; // Normal
$font-weight-200: 500; // Medium
$font-weight-300: 600; // Semi-bold
$font-weight-400: 700; // Bold
$font-weight-500: 800; // Black
$font-weight-600: 900; // Ultra
