// # Font Sizes

$font-size-60:   11px;
$font-size-70:   12px;
$font-size-80:   13px;
$font-size-90:   14px;
$font-size-100:  16px;
$font-size-200:  18px;
$font-size-300:  21px;
$font-size-400:  24px;
$font-size-500:  30px;
$font-size-600:  36px;
$font-size-700:  48px;
$font-size-800:  60px;
$font-size-900:  72px;
$font-size-1000: 96px;
