$icon-size-80:   12px;
$icon-size-90:   14px;
$icon-size-100:  16px;
$icon-size-200:  18px;
$icon-size-300:  20px;
$icon-size-400:  22px;
$icon-size-500:  24px;
$icon-size-600:  32px;
$icon-size-700:  48px;
$icon-size-800:  64px;
$icon-size-900:  72px;
$icon-size-1000: 96px;
