// # Descriptive colors
// Only use descriptive colors to define functional colors in this document.
$color-black: rgb(0, 0, 0) !default;
$color-white: rgb(255, 255, 255) !default;
$color-grey: rgb(162, 174, 187) !default;
$color-yellow: rgb(239, 183, 86) !default;
$color-purple: rgb(140, 83, 131) !default;
$color-blue: rgb(49, 133, 252) !default;
$color-red: rgb(226, 77, 63) !default;
$color-green: rgb(114, 155, 121) !default;

// # Functional colors
// Always use a descriptive color to define a functional color. Always use the right functional color even when two (or more) functional colors have the same descriptive color (e.g. $color-heading and $color-primary). This will help when you want to target a specific color.

// ## Hierarchical
$color-call-to-action: $color-yellow !default;
$color-primary: $color-blue !default;
$color-secondary: $color-purple !default;

// ## Typography
$color-heading: $color-blue !default;
$color-subheading: $color-blue !default;
$color-text: $color-black !default;
$color-text-diap: $color-white !default;

// ## User Interface
$color-ui: $color-grey !default;
$color-ui-accent: $color-blue !default;

// ## States
$color-error: $color-red !default;
$color-success: $color-green !default;
$color-warning: $color-yellow !default;
$color-info: $color-blue !default;
$color-select: $color-purple !default;
$color-focus: $color-green !default;

// # Additional colors
// Can be used for shared color variables in different components (e.g. $color-icon), in specific state (e.g. $color-logged-in) or themes (e.g. $color-corporate)
$color-shadow: $color-black !default;
$color-background: $color-white !default;
$color-background-accent: $color-grey !default;
$color-icon: $color-black !default;
$color-icon-diap: $color-white !default;

// # Ranges
// Please keep the same variable order as above
$color-call-to-action-10: tint($color-call-to-action, 90%) !default;
$color-call-to-action-20: tint($color-call-to-action, 80%) !default;
$color-call-to-action-30: tint($color-call-to-action, 70%) !default;
$color-call-to-action-40: tint($color-call-to-action, 60%) !default;
$color-call-to-action-50: tint($color-call-to-action, 50%) !default;
$color-call-to-action-60: tint($color-call-to-action, 40%) !default;
$color-call-to-action-70: tint($color-call-to-action, 30%) !default;
$color-call-to-action-80: tint($color-call-to-action, 20%) !default;
$color-call-to-action-90: tint($color-call-to-action, 10%) !default;
$color-call-to-action-100: $color-call-to-action !default;
$color-call-to-action-200: shade($color-call-to-action, 10%) !default;
$color-call-to-action-300: shade($color-call-to-action, 20%) !default;
$color-call-to-action-400: shade($color-call-to-action, 30%) !default;
$color-call-to-action-500: shade($color-call-to-action, 40%) !default;
$color-call-to-action-600: shade($color-call-to-action, 50%) !default;
$color-call-to-action-700: shade($color-call-to-action, 60%) !default;
$color-call-to-action-800: shade($color-call-to-action, 70%) !default;
$color-call-to-action-900: shade($color-call-to-action, 80%) !default;
$color-call-to-action-1000: shade($color-call-to-action, 90%) !default;

$color-primary-10: tint($color-primary, 90%) !default;
$color-primary-20: tint($color-primary, 80%) !default;
$color-primary-30: tint($color-primary, 70%) !default;
$color-primary-40: tint($color-primary, 60%) !default;
$color-primary-50: tint($color-primary, 50%) !default;
$color-primary-60: tint($color-primary, 40%) !default;
$color-primary-70: tint($color-primary, 30%) !default;
$color-primary-80: tint($color-primary, 20%) !default;
$color-primary-90: tint($color-primary, 10%) !default;
$color-primary-100: $color-primary !default;
$color-primary-200: shade($color-primary, 10%) !default;
$color-primary-300: shade($color-primary, 20%) !default;
$color-primary-400: shade($color-primary, 30%) !default;
$color-primary-500: shade($color-primary, 40%) !default;
$color-primary-600: shade($color-primary, 50%) !default;
$color-primary-700: shade($color-primary, 60%) !default;
$color-primary-800: shade($color-primary, 70%) !default;
$color-primary-900: shade($color-primary, 80%) !default;
$color-primary-1000: shade($color-primary, 90%) !default;

$color-secondary-10: tint($color-secondary, 90%) !default;
$color-secondary-20: tint($color-secondary, 80%) !default;
$color-secondary-30: tint($color-secondary, 70%) !default;
$color-secondary-40: tint($color-secondary, 60%) !default;
$color-secondary-50: tint($color-secondary, 50%) !default;
$color-secondary-60: tint($color-secondary, 40%) !default;
$color-secondary-70: tint($color-secondary, 30%) !default;
$color-secondary-80: tint($color-secondary, 20%) !default;
$color-secondary-90: tint($color-secondary, 10%) !default;
$color-secondary-100: $color-secondary !default;
$color-secondary-200: shade($color-secondary, 10%) !default;
$color-secondary-300: shade($color-secondary, 20%) !default;
$color-secondary-400: shade($color-secondary, 30%) !default;
$color-secondary-500: shade($color-secondary, 40%) !default;
$color-secondary-600: shade($color-secondary, 50%) !default;
$color-secondary-700: shade($color-secondary, 60%) !default;
$color-secondary-800: shade($color-secondary, 70%) !default;
$color-secondary-900: shade($color-secondary, 80%) !default;
$color-secondary-1000: shade($color-secondary, 90%) !default;

$color-heading-10: tint($color-heading, 90%) !default;
$color-heading-20: tint($color-heading, 80%) !default;
$color-heading-30: tint($color-heading, 70%) !default;
$color-heading-40: tint($color-heading, 60%) !default;
$color-heading-50: tint($color-heading, 50%) !default;
$color-heading-60: tint($color-heading, 40%) !default;
$color-heading-70: tint($color-heading, 30%) !default;
$color-heading-80: tint($color-heading, 20%) !default;
$color-heading-90: tint($color-heading, 10%) !default;
$color-heading-100: $color-heading !default;
$color-heading-200: shade($color-heading, 10%) !default;
$color-heading-300: shade($color-heading, 20%) !default;
$color-heading-400: shade($color-heading, 30%) !default;
$color-heading-500: shade($color-heading, 40%) !default;
$color-heading-600: shade($color-heading, 50%) !default;
$color-heading-700: shade($color-heading, 60%) !default;
$color-heading-800: shade($color-heading, 70%) !default;
$color-heading-900: shade($color-heading, 80%) !default;
$color-heading-1000: shade($color-heading, 90%) !default;

$color-subheading-10: tint($color-subheading, 90%) !default;
$color-subheading-20: tint($color-subheading, 80%) !default;
$color-subheading-30: tint($color-subheading, 70%) !default;
$color-subheading-40: tint($color-subheading, 60%) !default;
$color-subheading-50: tint($color-subheading, 50%) !default;
$color-subheading-60: tint($color-subheading, 40%) !default;
$color-subheading-70: tint($color-subheading, 30%) !default;
$color-subheading-80: tint($color-subheading, 20%) !default;
$color-subheading-90: tint($color-subheading, 10%) !default;
$color-subheading-100: $color-subheading !default;
$color-subheading-200: shade($color-subheading, 10%) !default;
$color-subheading-300: shade($color-subheading, 20%) !default;
$color-subheading-400: shade($color-subheading, 30%) !default;
$color-subheading-500: shade($color-subheading, 40%) !default;
$color-subheading-600: shade($color-subheading, 50%) !default;
$color-subheading-700: shade($color-subheading, 60%) !default;
$color-subheading-800: shade($color-subheading, 70%) !default;
$color-subheading-900: shade($color-subheading, 80%) !default;
$color-subheading-1000: shade($color-subheading, 90%) !default;

$color-text-10: tint($color-text, 90%) !default;
$color-text-20: tint($color-text, 80%) !default;
$color-text-30: tint($color-text, 70%) !default;
$color-text-40: tint($color-text, 60%) !default;
$color-text-50: tint($color-text, 50%) !default;
$color-text-60: tint($color-text, 40%) !default;
$color-text-70: tint($color-text, 30%) !default;
$color-text-80: tint($color-text, 20%) !default;
$color-text-90: tint($color-text, 10%) !default;
$color-text-100: $color-text !default;
$color-text-200: shade($color-text, 10%) !default;
$color-text-300: shade($color-text, 20%) !default;
$color-text-400: shade($color-text, 30%) !default;
$color-text-500: shade($color-text, 40%) !default;
$color-text-600: shade($color-text, 50%) !default;
$color-text-700: shade($color-text, 60%) !default;
$color-text-800: shade($color-text, 70%) !default;
$color-text-900: shade($color-text, 80%) !default;
$color-text-1000: shade($color-text, 90%) !default;

$color-text-diap-10: tint($color-text-diap, 90%) !default;
$color-text-diap-20: tint($color-text-diap, 80%) !default;
$color-text-diap-30: tint($color-text-diap, 70%) !default;
$color-text-diap-40: tint($color-text-diap, 60%) !default;
$color-text-diap-50: tint($color-text-diap, 50%) !default;
$color-text-diap-60: tint($color-text-diap, 40%) !default;
$color-text-diap-70: tint($color-text-diap, 30%) !default;
$color-text-diap-80: tint($color-text-diap, 20%) !default;
$color-text-diap-90: tint($color-text-diap, 10%) !default;
$color-text-diap-100: $color-text-diap !default;
$color-text-diap-200: shade($color-text-diap, 10%) !default;
$color-text-diap-300: shade($color-text-diap, 20%) !default;
$color-text-diap-400: shade($color-text-diap, 30%) !default;
$color-text-diap-500: shade($color-text-diap, 40%) !default;
$color-text-diap-600: shade($color-text-diap, 50%) !default;
$color-text-diap-700: shade($color-text-diap, 60%) !default;
$color-text-diap-800: shade($color-text-diap, 70%) !default;
$color-text-diap-900: shade($color-text-diap, 80%) !default;
$color-text-diap-1000: shade($color-text-diap, 90%) !default;

$color-ui-10: tint($color-ui, 90%) !default;
$color-ui-20: tint($color-ui, 80%) !default;
$color-ui-30: tint($color-ui, 70%) !default;
$color-ui-40: tint($color-ui, 60%) !default;
$color-ui-50: tint($color-ui, 50%) !default;
$color-ui-60: tint($color-ui, 40%) !default;
$color-ui-70: tint($color-ui, 30%) !default;
$color-ui-80: tint($color-ui, 20%) !default;
$color-ui-90: tint($color-ui, 10%) !default;
$color-ui-100: $color-ui !default;
$color-ui-200: shade($color-ui, 10%) !default;
$color-ui-300: shade($color-ui, 20%) !default;
$color-ui-400: shade($color-ui, 30%) !default;
$color-ui-500: shade($color-ui, 40%) !default;
$color-ui-600: shade($color-ui, 50%) !default;
$color-ui-700: shade($color-ui, 60%) !default;
$color-ui-800: shade($color-ui, 70%) !default;
$color-ui-900: shade($color-ui, 80%) !default;
$color-ui-1000: shade($color-ui, 90%) !default;

$color-ui-accent-10: tint($color-ui-accent, 90%) !default;
$color-ui-accent-20: tint($color-ui-accent, 80%) !default;
$color-ui-accent-30: tint($color-ui-accent, 70%) !default;
$color-ui-accent-40: tint($color-ui-accent, 60%) !default;
$color-ui-accent-50: tint($color-ui-accent, 50%) !default;
$color-ui-accent-60: tint($color-ui-accent, 40%) !default;
$color-ui-accent-70: tint($color-ui-accent, 30%) !default;
$color-ui-accent-80: tint($color-ui-accent, 20%) !default;
$color-ui-accent-90: tint($color-ui-accent, 10%) !default;
$color-ui-accent-100: $color-ui-accent !default;
$color-ui-accent-200: shade($color-ui-accent, 10%) !default;
$color-ui-accent-300: shade($color-ui-accent, 20%) !default;
$color-ui-accent-400: shade($color-ui-accent, 30%) !default;
$color-ui-accent-500: shade($color-ui-accent, 40%) !default;
$color-ui-accent-600: shade($color-ui-accent, 50%) !default;
$color-ui-accent-700: shade($color-ui-accent, 60%) !default;
$color-ui-accent-800: shade($color-ui-accent, 70%) !default;
$color-ui-accent-900: shade($color-ui-accent, 80%) !default;
$color-ui-accent-1000: shade($color-ui-accent, 90%) !default;

$color-error-10: tint($color-error, 90%) !default;
$color-error-20: tint($color-error, 80%) !default;
$color-error-30: tint($color-error, 70%) !default;
$color-error-40: tint($color-error, 60%) !default;
$color-error-50: tint($color-error, 50%) !default;
$color-error-60: tint($color-error, 40%) !default;
$color-error-70: tint($color-error, 30%) !default;
$color-error-80: tint($color-error, 20%) !default;
$color-error-90: tint($color-error, 10%) !default;
$color-error-100: $color-error !default;
$color-error-200: shade($color-error, 10%) !default;
$color-error-300: shade($color-error, 20%) !default;
$color-error-400: shade($color-error, 30%) !default;
$color-error-500: shade($color-error, 40%) !default;
$color-error-600: shade($color-error, 50%) !default;
$color-error-700: shade($color-error, 60%) !default;
$color-error-800: shade($color-error, 70%) !default;
$color-error-900: shade($color-error, 80%) !default;
$color-error-1000: shade($color-error, 90%) !default;

$color-success-10: tint($color-success, 90%) !default;
$color-success-20: tint($color-success, 80%) !default;
$color-success-30: tint($color-success, 70%) !default;
$color-success-40: tint($color-success, 60%) !default;
$color-success-50: tint($color-success, 50%) !default;
$color-success-60: tint($color-success, 40%) !default;
$color-success-70: tint($color-success, 30%) !default;
$color-success-80: tint($color-success, 20%) !default;
$color-success-90: tint($color-success, 10%) !default;
$color-success-100: $color-success !default;
$color-success-200: shade($color-success, 10%) !default;
$color-success-300: shade($color-success, 20%) !default;
$color-success-400: shade($color-success, 30%) !default;
$color-success-500: shade($color-success, 40%) !default;
$color-success-600: shade($color-success, 50%) !default;
$color-success-700: shade($color-success, 60%) !default;
$color-success-800: shade($color-success, 70%) !default;
$color-success-900: shade($color-success, 80%) !default;
$color-success-1000: shade($color-success, 90%) !default;

$color-warning-10: tint($color-warning, 90%) !default;
$color-warning-20: tint($color-warning, 80%) !default;
$color-warning-30: tint($color-warning, 70%) !default;
$color-warning-40: tint($color-warning, 60%) !default;
$color-warning-50: tint($color-warning, 50%) !default;
$color-warning-60: tint($color-warning, 40%) !default;
$color-warning-70: tint($color-warning, 30%) !default;
$color-warning-80: tint($color-warning, 20%) !default;
$color-warning-90: tint($color-warning, 10%) !default;
$color-warning-100: $color-warning !default;
$color-warning-200: shade($color-warning, 10%) !default;
$color-warning-300: shade($color-warning, 20%) !default;
$color-warning-400: shade($color-warning, 30%) !default;
$color-warning-500: shade($color-warning, 40%) !default;
$color-warning-600: shade($color-warning, 50%) !default;
$color-warning-700: shade($color-warning, 60%) !default;
$color-warning-800: shade($color-warning, 70%) !default;
$color-warning-900: shade($color-warning, 80%) !default;
$color-warning-1000: shade($color-warning, 90%) !default;

$color-info-10: tint($color-info, 90%) !default;
$color-info-20: tint($color-info, 80%) !default;
$color-info-30: tint($color-info, 70%) !default;
$color-info-40: tint($color-info, 60%) !default;
$color-info-50: tint($color-info, 50%) !default;
$color-info-60: tint($color-info, 40%) !default;
$color-info-70: tint($color-info, 30%) !default;
$color-info-80: tint($color-info, 20%) !default;
$color-info-90: tint($color-info, 10%) !default;
$color-info-100: $color-info !default;
$color-info-200: shade($color-info, 10%) !default;
$color-info-300: shade($color-info, 20%) !default;
$color-info-400: shade($color-info, 30%) !default;
$color-info-500: shade($color-info, 40%) !default;
$color-info-600: shade($color-info, 50%) !default;
$color-info-700: shade($color-info, 60%) !default;
$color-info-800: shade($color-info, 70%) !default;
$color-info-900: shade($color-info, 80%) !default;
$color-info-1000: shade($color-info, 90%) !default;

$color-select-10: tint($color-select, 90%) !default;
$color-select-20: tint($color-select, 80%) !default;
$color-select-30: tint($color-select, 70%) !default;
$color-select-40: tint($color-select, 60%) !default;
$color-select-50: tint($color-select, 50%) !default;
$color-select-60: tint($color-select, 40%) !default;
$color-select-70: tint($color-select, 30%) !default;
$color-select-80: tint($color-select, 20%) !default;
$color-select-90: tint($color-select, 10%) !default;
$color-select-100: $color-select !default;
$color-select-200: shade($color-select, 10%) !default;
$color-select-300: shade($color-select, 20%) !default;
$color-select-400: shade($color-select, 30%) !default;
$color-select-500: shade($color-select, 40%) !default;
$color-select-600: shade($color-select, 50%) !default;
$color-select-700: shade($color-select, 60%) !default;
$color-select-800: shade($color-select, 70%) !default;
$color-select-900: shade($color-select, 80%) !default;
$color-select-1000: shade($color-select, 90%) !default;

$color-focus-10: tint($color-focus, 90%) !default;
$color-focus-20: tint($color-focus, 80%) !default;
$color-focus-30: tint($color-focus, 70%) !default;
$color-focus-40: tint($color-focus, 60%) !default;
$color-focus-50: tint($color-focus, 50%) !default;
$color-focus-60: tint($color-focus, 40%) !default;
$color-focus-70: tint($color-focus, 30%) !default;
$color-focus-80: tint($color-focus, 20%) !default;
$color-focus-90: tint($color-focus, 10%) !default;
$color-focus-100: $color-focus !default;
$color-focus-200: shade($color-focus, 10%) !default;
$color-focus-300: shade($color-focus, 20%) !default;
$color-focus-400: shade($color-focus, 30%) !default;
$color-focus-500: shade($color-focus, 40%) !default;
$color-focus-600: shade($color-focus, 50%) !default;
$color-focus-700: shade($color-focus, 60%) !default;
$color-focus-800: shade($color-focus, 70%) !default;
$color-focus-900: shade($color-focus, 80%) !default;
$color-focus-1000: shade($color-focus, 90%) !default;

// # Social media colors
$color-facebook: #3b5998;
$color-twitter: #00a0d1;
$color-linkedin: #0e76a8;
$color-youtube: #c4302b;
$color-pinterest: #c8232c;
$color-instagram: #3f729b;
$color-google-plus: #db4a39;
