$font-weight-70: 400 !default; // NOTE: Hairline
$font-weight-80: 400 !default; // NOTE: Thin
$font-weight-90: 400 !default; // NOTE: Light
$font-weight-100: 400 !default; // NOTE: Normal/Regular/Book/Roman
$font-weight-200: 700 !default; // NOTE: Medium
$font-weight-300: 700 !default; // NOTE: Semi Bold/Demi Bold
$font-weight-400: 700 !default; // NOTE: Bold
$font-weight-500: 700 !default; // NOTE: Extra Bold/Ultra Bold
$font-weight-600: 700 !default; // NOTE: Black/Heavy
