$input-border-width: 1px !default;
$input-focus-box-shadow-inset: null !default; // NOTE: Use 'inset' for inner box-shadow or 'null' for outer box-shadow.
$input-focus-box-shadow-offset-x: 0 !default;
$input-focus-box-shadow-offset-y: 0 !default;
$input-focus-box-shadow-blur: 3px !default;
$input-focus-box-shadow-spread: 0 !default;
$input-transition: opacity 300ms ease-in-out !default;

$input-border: $input-border-width solid $color-ui !default;
$input-border-radius: 0 !default;
$input-background-color: $color-background-light !default;
$input-box-shadow: none !default;
$input-color: $color-text-100 !default;
$input-font-size: $font-size-200 !default;
$input-line-height: $line-height-40 !default;
$input-focus-border: $input-border-width solid $color-focus !default;
$input-focus-background-color: $color-background-light !default;
$input-focus-box-shadow: $input-focus-box-shadow-inset $input-focus-box-shadow-offset-x $input-focus-box-shadow-offset-y $input-focus-box-shadow-blur $input-focus-box-shadow-spread $color-focus !default;
$input-is-valid-border: $input-border-width solid $color-ui !default;
$input-is-valid-background-color: $color-background-light !default;
$input-is-valid-box-shadow: none !default;
$input-is-valid-focus-border: $input-border-width solid $color-focus !default;
$input-is-valid-focus-background-color: $color-background-light !default;
$input-is-valid-focus-box-shadow: $input-focus-box-shadow-inset $input-focus-box-shadow-offset-x $input-focus-box-shadow-offset-y $input-focus-box-shadow-blur $input-focus-box-shadow-spread $color-focus !default;
$input-is-invalid-border: $input-border-width solid $color-error !default;
$input-is-invalid-background-color: $color-error-10 !default;
$input-is-invalid-box-shadow: none !default;
$input-is-invalid-focus-border: $input-border-width solid $color-focus !default;
$input-is-invalid-focus-background-color: $color-error-10 !default;
$input-is-invalid-focus-box-shadow: $input-focus-box-shadow-inset $input-focus-box-shadow-offset-x $input-focus-box-shadow-offset-y $input-focus-box-shadow-blur $input-focus-box-shadow-spread $color-focus !default;
$input-autofill-border: $input-border-width solid $color-tertiary-100 !default;
$input-autofill-background-color: $color-tertiary-10 !important !default;
$input-autofill-box-shadow: 0 0 0 0 transparent !default;
$input-autofill-box-shadow-background: inset 0 0 0 1000px $color-tertiary-10 !default;
$input-autofill-focus-border: $input-border-width solid $color-focus !default;
$input-autofill-focus-background-color: $color-tertiary-10 !important !default;
$input-autofill-focus-box-shadow: $input-focus-box-shadow-inset $input-focus-box-shadow-offset-x $input-focus-box-shadow-offset-y $input-focus-box-shadow-blur $input-focus-box-shadow-spread $color-focus !default;
$input-autofill-focus-box-shadow-background: inset 0 0 0 1000px $color-tertiary-10 !default;
$input-autofill-is-valid-border: $input-border-width solid $color-tertiary-100 !default;
$input-autofill-is-valid-background-color: $color-tertiary-10 !important !default;
$input-autofill-is-valid-box-shadow: 0 0 0 0 transparent !default;
$input-autofill-is-valid-box-shadow-background: inset 0 0 0 1000px $color-tertiary-10 !default;
$input-autofill-is-valid-focus-border: $input-border-width solid $color-focus !default;
$input-autofill-is-valid-focus-background-color: $color-tertiary-10 !important !default;
$input-autofill-is-valid-focus-box-shadow: $input-focus-box-shadow-inset $input-focus-box-shadow-offset-x $input-focus-box-shadow-offset-y $input-focus-box-shadow-blur $input-focus-box-shadow-spread $color-focus !default;
$input-autofill-is-valid-focus-box-shadow-background: inset 0 0 0 1000px $color-tertiary-10 !default;
$input-autofill-is-invalid-border: $input-border-width solid $color-error !default;
$input-autofill-is-invalid-background-color: $color-error-10 !important !default;
$input-autofill-is-invalid-box-shadow: 0 0 0 0 transparent !default;
$input-autofill-is-invalid-box-shadow-background: inset 0 0 0 1000px $color-error-10 !default;
$input-autofill-is-invalid-focus-border: $input-border-width solid $color-focus !default;
$input-autofill-is-invalid-focus-background-color: $color-error-10 !default;
$input-autofill-is-invalid-focus-box-shadow: $input-focus-box-shadow-inset $input-focus-box-shadow-offset-x $input-focus-box-shadow-offset-y $input-focus-box-shadow-blur $input-focus-box-shadow-spread $color-focus !default;
$input-autofill-is-invalid-focus-box-shadow-background: inset 0 0 0 1000px $color-error-10 !default;

$input-is-valid-icon: $icon-check-bold !default;
$input-is-valid-icon-color: $color-success !default;
$input-is-invalid-icon: $icon-exclamation-bold !default;
$input-is-invalid-icon-color: $color-error !default;
