$spacing: 8px;

$golden-ratio-70: 23.6% !default;
$golden-ratio-80: 38.2% !default;
$golden-ratio-90: 50% !default;
$golden-ratio-100: 61.8% !default;
$golden-ratio-200: 161.8% !default;

$control-size-50: $spacing * 2.5 !default;
$control-size-60: $spacing * 3 !default;
$control-size-70: $spacing * 3.5 !default;
$control-size-80: $spacing * 4 !default;
$control-size-90: $spacing * 4.5 !default;
$control-size-100: $spacing * 5.5 !default;
$control-size-200: $spacing * 6.5 !default;
