$spacing: 8px;

$golden-ratio-70: 23.6% !default;
$golden-ratio-80: 38.2% !default;
$golden-ratio-90: 50% !default;
$golden-ratio-100: 61.8% !default;
$golden-ratio-200: 161.8% !default;

$size-icon-80: 12px !default;
$size-icon-90: 14px !default;
$size-icon-100: 16px !default;
$size-icon-200: 18px !default;
$size-icon-300: 20px !default;
$size-icon-400: 22px !default;
$size-icon-500: 24px !default;
$size-icon-600: 32px !default;
$size-icon-700: 48px !default;
$size-icon-800: 64px !default;
$size-icon-900: 72px !default;
$size-icon-1000: 96px !default;

$size-control-50: $spacing * 2.5 !default;
$size-control-60: $spacing * 3 !default;
$size-control-70: $spacing * 3.5 !default;
$size-control-80: $spacing * 4 !default;
$size-control-90: $spacing * 4.5 !default;
$size-control-100: $spacing * 5.5 !default;
$size-control-200: $spacing * 6.5 !default;
