$body-background-color: $color-background-light !default;

/*
1. NOTE
Makes sure its children can use complete height of the html element as minimum height and set a sticky footer if needed.
Use 'height'. Do not use 'min-height' because this will break functionality. Don't know why.
Use '100%'. Do not use '100vh' because this will **always** create scroll bars in iOS Safari and other mobile webbrowsers.
In iOS Safari and other mobile browsers 100vh = viewport height without bars = scrollbars with viewport with bars.
Also as a result '100%' makes sure the bars on mobile webbrowsers are forced when no scrollbars are needed.
More about 100vh with mobile browsers on:
https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html
*/

body {
	position: relative; // NOTE: Fix alignment on absolute childeren (e.g. tooltips or notifications)
	min-width: 320px; // NOTE: Viewports with a smaller width will see a horizontal scrollbar
	height: 100%; /* 1 */
	background-color: $body-background-color;
	color: $color-text;
	font-family: $font-family-sans-serif;
	font-size: $font-size-100;
	line-height: $line-height-100;

	@include is-ie-10-or-11 {
		overflow-x: hidden; // NOTE: Make sure there is no horizontal scroll bar in IE 11.
	}
}
