[type='submit'],
[type='button'],
button {
	padding: 0;
	border: none;
	background-color: transparent;
	appearance: none;
	text-align: left;
	font-family: $font-family-sans-serif;
	font-weight: normal;
	user-select: none;
}
