[type='text'],
[type='tel'],
[type='email'],
[type='number'],
[type='search'],
textarea {
	font-family: $font-family-sans-serif;
}

input,
textarea,
select {
	background-color: rgba($color-white, 0.9);

	&:focus {
		outline: none;
		background-color: $color-white;
	}
}
