p {
	margin-top: $line-height-300;
	margin-bottom: $line-height-300;
	font-size: $font-size-100;
	line-height: $line-height-300;
}

strong,
b {
	font-weight: $font-weight-300;
}

em,
i {
	font-style: italic;
}
