$button-color: $color-text-diap !default;
$button-background-color: $color-primary-100 !default;
$button-hover-color: $color-text-diap !default;
$button-hover-background-color: $color-primary-300 !default;
$button-focus-box-shadow: inset 0 0 0 2px $color-primary-500 !default;
$button-active-color: $color-text-diap !default;
$button-active-background-color: $color-primary-400 !default;
$button-disabled-color: $color-text-diap !default;
$button-disabled-background-color: $color-primary-40 !default;
$button-cta-color: $color-text-diap !default;
$button-cta-background-color: $color-cta-100 !default;
$button-cta-hover-color: $color-text-diap !default;
$button-cta-hover-background-color: $color-cta-200 !default;
$button-cta-focus-box-shadow: inset 0 0 0 2px $color-cta-400 !default;
$button-cta-active-color: $color-text-diap !default;
$button-cta-active-background-color: $color-cta-300 !default;
$button-cta-disabled-color: $color-text-diap !default;
$button-cta-disabled-background-color: $color-cta-40 !default;
$button-secondary-color: $color-text-diap !default;
$button-secondary-background-color: $color-secondary-100 !default;
$button-secondary-hover-color: $color-text-diap !default;
$button-secondary-hover-background-color: $color-secondary-200 !default;
$button-secondary-focus-box-shadow: inset 0 0 0 2px $color-secondary-400 !default;
$button-secondary-active-color: $color-text-diap !default;
$button-secondary-active-background-color: $color-secondary-300 !default;
$button-secondary-disabled-color: $color-text-diap !default;
$button-secondary-disabled-background-color: $color-secondary-40 !default;
$button-ui-color: $color-text-diap !default;
$button-ui-background-color: $color-ui-90 !default;
$button-ui-hover-color: $color-text-diap !default;
$button-ui-hover-background-color: $color-ui-200 !default;
$button-ui-focus-box-shadow: inset 0 0 0 2px $color-primary-400 !default;
$button-ui-active-color: $color-text-diap !default;
$button-ui-active-background-color: $color-ui-400 !default;
$button-ui-disabled-color: $color-text-diap !default;
$button-ui-disabled-background-color: $color-ui-40 !default;
$button-transparent-color: $color-primary-100 !default;
$button-transparent-hover-background-color: transparent !default;
$button-transparent-hover-color: $color-primary-300 !default;
$button-transparent-focus-box-shadow: inset 0 0 0 2px $color-primary-100 !default;
$button-transparent-active-background-color: transparent !default;
$button-transparent-active-color: $color-primary-400 !default;
$button-transparent-disabled-background-color: transparent !default;
$button-transparent-disabled-color: $color-primary-40 !default;
$button-outline-border-width: 2px !default;

.button {
	@include user-select(none);
	display: inline-block;
	border-radius: $border-radius-100;
	background-color: $button-background-color;
	color: $button-color;
	text-align: center;
	font-weight: normal;
	line-height: 16px;
	cursor: pointer;

	@include media(0, $range-palm) {
		padding: 8px 28px;
		font-size: $font-size-100;
	}
	@include media($range-hand, false) {
		padding: 16px 40px;
		font-size: $font-size-200;
	}

	&:hover {
		background-color: $button-hover-background-color;
		color: $button-hover-color;
	};

	&:focus {
		box-shadow: $button-focus-box-shadow;
	}

	&:active {
		background-color: $button-active-background-color;
		color: $button-active-color;
	}

	&:disabled {
		background-color: $button-disabled-background-color;
		color: $button-disabled-color;
		cursor: not-allowed;
	}
}

// Color varations
.button--cta {
	background-color: $button-cta-background-color;
	color: $button-cta-color;

	&:hover {
		background-color: $button-cta-hover-background-color;
		color: $button-cta-hover-color;
	}

	&:focus {
		box-shadow: $button-cta-focus-box-shadow;
	}

	&:active {
		background-color: $button-cta-active-background-color;
		color: $button-cta-active-color;
	}

	&:disabled {
		background-color: $button-cta-disabled-background-color;
		color: $button-cta-disabled-color;
	}
}

.button--secondary {
	background-color: $button-secondary-background-color;
	color: $button-secondary-color;

	&:hover {
		background-color: $button-secondary-hover-background-color;
		color: $button-secondary-hover-color;
	}

	&:focus {
		box-shadow: $button-secondary-focus-box-shadow;
	}

	&:active {
		background-color: $button-secondary-active-background-color;
		color: $button-secondary-active-color;
	}

	&:disabled {
		background-color: $button-secondary-disabled-background-color;
		color: $button-secondary-disabled-color;
	}
}

.button--ui {
	background-color: $button-ui-background-color;
	color: $button-ui-color;

	&:hover {
		background-color: $button-ui-hover-background-color;
		color: $button-ui-hover-color;
	}

	&:focus {
		box-shadow: $button-ui-focus-box-shadow;
	}

	&:active {
		background-color: $button-ui-active-background-color;
		color: $button-ui-active-color;
	}

	&:disabled {
		background-color: $button-ui-disabled-background-color;
		color: $button-ui-disabled-color;
	}
}

.button--transparent {
	background-color: transparent;
	color: $button-transparent-color;

	&:hover {
		background-color: $button-transparent-hover-background-color;
		color: $button-transparent-hover-color;
	}

	&:focus {
		box-shadow: $button-transparent-focus-box-shadow;
	}

	&:active {
		background-color: $button-transparent-active-background-color;
		color: $button-transparent-active-color;
	}

	&:disabled {
		background-color: $button-transparent-disabled-background-color;
		color: $button-transparent-disabled-color;
	}
}

// Shape and size variations
.button--outline {
	background-color: transparent;
	background-image: none;
	box-shadow: inset 0 0 0 $button-outline-border-width $button-background-color;
	color: $button-background-color;

	&:hover {
		background-color: transparent;
		background-image: none;
		box-shadow: inset 0 0 0 $button-outline-border-width $button-hover-background-color;
		color: $button-hover-background-color;
	}

	&:focus {
		box-shadow: $button-focus-box-shadow, inset 0 0 0 $button-outline-border-width $button-background-color;
	}

	&:active {
		background-color: transparent;
		background-image: none;
		box-shadow: inset 0 0 0 $button-outline-border-width $button-active-background-color;
		color: $button-active-background-color;
	}

	&:disabled {
		background-color: transparent;
		background-image: none;
		box-shadow: inset 0 0 0 $button-outline-border-width $button-disabled-background-color;
		color: $button-disabled-background-color;
	}

	&.button--cta {
		box-shadow: inset 0 0 0 $button-outline-border-width $button-cta-background-color;
		color: $button-cta-background-color;

		&:hover {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-cta-hover-background-color;
			color: $button-cta-hover-background-color;
		}

		&:focus {
			box-shadow: $button-cta-focus-box-shadow, inset 0 0 0 $button-outline-border-width $button-cta-background-color;
		}

		&:active {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-cta-active-background-color;
			color: $button-cta-active-background-color;
		}

		&:disabled {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-cta-disabled-background-color;
			color: $button-cta-disabled-background-color;
		}
	}

	&.button--secondary {
		box-shadow: inset 0 0 0 $button-outline-border-width $button-secondary-background-color;
		color: $button-secondary-background-color;

		&:hover {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-secondary-hover-background-color;
			color: $button-secondary-hover-background-color;
		}

		&:focus {
			box-shadow: $button-secondary-focus-box-shadow, inset 0 0 0 $button-outline-border-width $button-secondary-background-color;
		}

		&:active {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-secondary-active-background-color;
			color: $button-secondary-active-background-color;
		}

		&:disabled {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-secondary-disabled-background-color;
			color: $button-secondary-disabled-background-color;
		}
	}

	&.button--ui {
		box-shadow: inset 0 0 0 $button-outline-border-width $button-ui-background-color;
		color: $button-ui-background-color;

		&:hover {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-ui-hover-background-color;
			color: $button-ui-hover-background-color;
		}

		&:focus {
			box-shadow: $button-ui-focus-box-shadow, inset 0 0 0 $button-outline-border-width $button-ui-background-color;
		}

		&:active {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-ui-active-background-color;
			color: $button-ui-active-background-color;
		}

		&:disabled {
			box-shadow: inset 0 0 0 $button-outline-border-width $button-ui-disabled-background-color;
			color: $button-ui-disabled-background-color;
		}
	}
}

.button--80 {
	padding: 4px 16px;
	font-size: $font-size-90;
}

.button--90 {
	@include media(0, $range-palm) {
		padding: 8px 20px;
		font-size: $font-size-90;
	}
	@include media($range-hand, false) {
		padding: 12px 20px;
		font-size: $font-size-100;
	}
}

.button--200 {
	@include media(0, $range-palm) {
		padding: 12px 30px;
		font-size: $font-size-200;
	}
	@include media($range-hand, false) {
		padding: 20px 40px;
		font-size: $font-size-300;
	}
}

.button--full {
	display: block;
	max-width: 100%;
	width: 100%;
}

// Add-on variations
// TODO: Fix icon aligment
.button--arrow-up::after {
	position: relative;
	top: -1px;
	margin-left: 8px;
	content: '\2191'; // TODO: Add arrow up icon
}

.button--arrow-right::after {
	margin-left: 12px;
	content: '\2192'; // TODO: Add arrow right icon
}

.button--arrow-down::after {
	position: relative;
	top: -1px;
	margin-left: 8px;
	content: '\2193'; // TODO: Add arrow down icon
}

.button--arrow-left::before {
	margin-right: 12px;
	content: '\2190'; // TODO: Add arrow left icon
}
