$input-stepper-input-border: 2px solid $color-ui-300 !default;
$input-stepper-button-background-color: $color-ui-80 !default;

.input-stepper {
	display: flex;

	&.is-skeleton {
		pointer-events: none;
	}

	&.is-disabled {
		pointer-events: none;
	}

	&.is-frozen {
		pointer-events: none;
	}

	&.is-loading {
		pointer-events: none;
	}
}

.input-stepper--vertical {
	flex-direction: column;
}

.input-stepper--primary {
}

.input-stepper--90 {
}

.input-stepper__input {
	padding-top: (($control-height-100 - ($line-height-20 * $font-size-200)) / 2);
	padding-right: $spacing;
	padding-bottom: (($control-height-100 - ($line-height-20 * $font-size-200)) / 2);
	padding-left: $spacing;
	width: $control-height-200;
	height: $control-height-100;
	border: $input-stepper-input-border;
	border-radius: 0;
	color: $color-text;
	text-align: center;
	font-size: $font-size-200;
	line-height: $line-height-20;
	order: 2;
	appearance: none;

	.input-stepper.is-skeleton & {
		color: transparent;
	}

	.input-stepper.is-disabled & {
		opacity: $opacity-disabled;
	}

	.input-stepper.is-loading & {
		background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
		background-size: 50px 50px;
		background-repeat: repeat;
		opacity: $opacity-100; // NOTE: reset disabled styling.
		animation: InputStepperIndeterminateProgress 2s linear infinite;
	}

	.input-stepper--vertical & {
		width: $control-height-100;
	}

	.input-stepper--90 & {
		width: $control-height-100;
		height: $control-height-90;
	}

	.input-stepper--90.input-stepper--vertical & {
		width: $control-height-90;
	}
}

.input-stepper__control {
	@include hide-text;
	padding: 0;
	width: $control-height-100;
	height: $control-height-100;
	border: none;
	background-color: $input-stepper-button-background-color;
	background-position: center;
	background-size: $golden-ratio-80 auto;
	background-repeat: no-repeat;
	text-align: center;
	appearance: none;
	user-select: none;

	&.is-disabled {
		opacity: $opacity-disabled;
	}

	.input-stepper.is-disabled & {
		opacity: $opacity-disabled;
	}

	.input-stepper--vertical & {
		height: $control-height-90;
	}

	.input-stepper--primary & {
		background-color: $color-primary;
	}

	.input-stepper--90 & {
		width: $control-height-90;
		height: $control-height-90;
	}

	.input-stepper--90.input-stepper--vertical & {
		height: $control-height-80;
	}
}

.input-stepper__control--decrease {
	@include border-left-radius($border-radius-200);
	background-image: url(get-svg-uri($icon-minus, $color-text));
	order: 1;

	.input-stepper--vertical & {
		border-radius: 0 0 $border-radius-100 $border-radius-100;
		order: 3;
	}

	.input-stepper--primary & {
		background-image: url(get-svg-uri($icon-minus, $color-text-diap));
	}
}

.input-stepper__control--increase {
	@include border-right-radius($border-radius-200);
	background-image: url(get-svg-uri($icon-plus, $color-text));
	order: 3;

	.input-stepper--vertical & {
		border-radius: $border-radius-100 $border-radius-100 0 0;
		order: 1;
	}

	.input-stepper--primary & {
		background-image: url(get-svg-uri($icon-plus, $color-text-diap));
	}
}

@keyframes InputStepperIndeterminateProgress {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 50px 50px;
	}
}
