$password-input-z-index: 100 !default;
$password-input-input-margin: if($input-focus-box-shadow-inset, ($input-border-width + $input-focus-box-shadow-spread), $input-border-width) !default;
$password-input-webkit-credentials-auto-fill-button-toggle: true !default;

.password-input {
	position: relative;
	display: flex;
	min-width: 0; // FIX: Give possible flex children a min-width so it won't overflow parents.
	height: $size-control-100;
	align-items: stretch;
}

.password-input__input,
input[type='text'].password-input__input,
input[type='password'].password-input__input {
	z-index: $password-input-z-index + 1;
	margin-top: $password-input-input-margin;
	margin-bottom: $password-input-input-margin;
	margin-left: $password-input-input-margin;
	padding-top: 0;
	padding-right: $spacing * 1.5;
	padding-bottom: 0;
	padding-left: $spacing * 1.5;
	min-width: $spacing * 8;
	border: none;
	background-color: transparent;
	box-shadow: none;
	color: $input-color;
	font-size: $input-font-size;
	line-height: $input-line-height;
	transition: $input-transition;
	appearance: none;
	flex-grow: 1;

	&:focus {
		outline-color: transparent; // NOTE https://twitter.com/AmeliasBrain/status/1026521723888226304
	}

	&:disabled {
		opacity: $opacity-disabled;
		pointer-events: none;
	}

	.password-input.is-valid &,
	.password-input.is-invalid & {
		padding-right: $size-control-100;
		background-position: right (($size-control-100 - $size-icon-100) / 2) center;
		background-size: $size-icon-100 $size-icon-100;
		background-repeat: no-repeat;
	}

	.password-input.is-valid & {
		background-image: url(get-svg-uri($input-is-valid-icon, $input-is-valid-icon-color));
	}

	.password-input.is-invalid & {
		background-image: url(get-svg-uri($input-is-invalid-icon, $input-is-invalid-icon-color));
	}

	&:-webkit-autofill {
		padding-right: $spacing * 1.5;
		background-color: $input-autofill-background-color;
		box-shadow: $input-autofill-box-shadow-background;
	}

	&:-webkit-autofill:focus {
		background-color: $input-autofill-is-valid-focus-background-color;
		box-shadow: $input-autofill-is-valid-focus-box-shadow-background;
	}

	.password-input.is-valid &:-webkit-autofill {
		padding-right: $spacing * 1.5;
		background-color: $input-autofill-is-valid-background-color;
		box-shadow: $input-autofill-is-valid-box-shadow-background;
	}

	.password-input.is-valid &:-webkit-autofill:focus {
		background-color: $input-autofill-is-valid-focus-background-color;
		box-shadow: $input-autofill-is-valid-focus-box-shadow-background;
	}

	.password-input.is-invalid &:-webkit-autofill {
		padding-right: $spacing * 1.5;
		background-color: $input-autofill-is-invalid-background-color;
		box-shadow: $input-autofill-is-invalid-box-shadow-background;
	}

	.password-input.is-invalid &:-webkit-autofill:focus {
		background-color: $input-autofill-is-invalid-focus-background-color;
		box-shadow: $input-autofill-is-invalid-focus-box-shadow-background;
	}

	@if not($password-input-webkit-credentials-auto-fill-button-toggle) {
		&::-webkit-credentials-auto-fill-button {
			visibility: hidden;
			pointer-events: none;
		}
	}

	&::-ms-reveal {
		display: none;
	}
}

.password-input__toolbar {
	display: flex;
	min-width: 0;
	transition: $input-transition;
	flex-shrink: 0;
	flex-grow: 0;
	align-items: center;

	.password-input__input:disabled ~ & {
		opacity: $opacity-disabled;
		pointer-events: none;
	}

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: $password-input-z-index;
		display: block;
		border: $input-border;
		border-radius: $input-border-radius;
		background-color: $input-background-color;
		content: '';
		pointer-events: none;

		.password-input__input:focus ~ & {
			border: $input-focus-border;
			background-color: $input-focus-background-color;
			box-shadow: $input-focus-box-shadow;
		}

		.password-input.is-valid & {
			border: $input-is-valid-border;
			background-color: $input-is-valid-background-color;
			box-shadow: $input-is-valid-box-shadow;
		}

		.password-input.is-valid .password-input__input:focus ~ & {
			border: $input-is-valid-focus-border;
			background-color: $input-is-valid-focus-background-color;
			box-shadow: $input-is-valid-focus-box-shadow;
		}

		.password-input.is-invalid & {
			border: $input-is-invalid-border;
			background-color: $input-is-invalid-background-color;
			box-shadow: $input-is-invalid-box-shadow;
		}

		.password-input.is-invalid .password-input__input:focus ~ & {
			border: $input-is-invalid-focus-border;
			background-color: $input-is-invalid-focus-background-color;
			box-shadow: $input-is-invalid-focus-box-shadow;
		}

		.password-input__input:-webkit-autofill ~ & {
			border: $input-autofill-border;
			background-color: $input-autofill-background-color;
			box-shadow: $input-autofill-box-shadow, $input-autofill-box-shadow-background;
		}

		.password-input__input:-webkit-autofill:focus ~ & {
			border: $input-autofill-focus-border;
			background-color: $input-autofill-focus-background-color;
			box-shadow: $input-autofill-focus-box-shadow, $input-autofill-focus-box-shadow-background;
		}

		.password-input.is-valid .password-input__input:-webkit-autofill ~ & {
			border: $input-autofill-is-valid-border;
			background-color: $input-autofill-is-valid-background-color;
			box-shadow: $input-autofill-is-valid-box-shadow, $input-autofill-is-valid-box-shadow-background;
		}

		.password-input.is-valid .password-input__input:-webkit-autofill:focus ~ & {
			border: $input-autofill-is-valid-focus-border;
			background-color: $input-autofill-is-valid-focus-background-color;
			box-shadow: $input-autofill-is-valid-focus-box-shadow, $input-autofill-is-valid-focus-box-shadow-background;
		}

		.password-input.is-invalid .password-input__input:-webkit-autofill ~ & {
			border: $input-autofill-is-invalid-border;
			background-color: $input-autofill-is-invalid-background-color;
			box-shadow: $input-autofill-is-invalid-box-shadow, $input-autofill-is-invalid-box-shadow-background;
		}

		.password-input.is-invalid .password-input__input:-webkit-autofill:focus ~ & {
			border: $input-autofill-is-invalid-focus-border;
			background-color: $input-autofill-is-invalid-focus-background-color;
			box-shadow: $input-autofill-is-invalid-focus-box-shadow, $input-autofill-is-invalid-focus-box-shadow-background;
		}
	}
}

.password-input__visibility-toggle {
	z-index: $password-input-z-index + 1;
	display: flex;
	margin-right: $spacing;
	padding: 0 $spacing;
	min-width: $spacing * 5;
	height: $size-control-100 - ($spacing * 2);
	border: none;
	border-radius: $border-radius-90;
	background-color: $color-ui-60;
	color: $color-text-100;
	font-family: $font-family-sans-serif;
	line-height: $line-height-40;
	align-content: center;
	justify-content: center;
	appearance: none;

	@include media(0, $range-hand) {
		font-size: $font-size-80;
	}
	@include media($range-lap, false) {
		font-size: $font-size-90;
	}
}

.password-input__visibility-toggle-label {
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
