$search-input-button-gap: $spacing * 2 !default;
$search-input-border: $input-border  !default;
$search-input-border-radius: $input-border-radius !default;
$search-input-button-background-color: $input-background-color !default;

.search-input {
	position: relative;
	display: flex;
	width: 100%;
	height: $control-size-100;
	color: $input-color;
	font-size: $input-font-size;
	line-height: $input-line-height;
}

.search-input--90 {
	height: $control-size-90;
}

.search-input--narrow {
	max-width: $spacing * 40;
}

.search-input--condensed {
	max-width: $spacing * 32;
}

.search-input__input-box {
	position: relative;
	display: flex;
	justify-content: stretch;
	width: 100%;
	height: $control-size-100;
	border: $search-input-border;
	border-top-left-radius: $search-input-border-radius;
	border-bottom-left-radius: $search-input-border-radius;
	background-color: $input-background-color;

	&:last-child {
		border-radius: $search-input-border-radius;
	}

	.search-input--button-seperated & {
		border-radius: $search-input-border-radius;
	}

	.search-input--rounded-ends & {
		border-top-left-radius: $control-size-100 / 2;
		border-bottom-left-radius: $control-size-100 / 2;

		&:last-child {
			border-radius: $control-size-100 / 2;
		}
	}

	.search-input--icon & {
		padding-left: $control-size-100;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: $control-size-100;
			height: $control-size-100;
			background-image: url(get-svg-uri($icon-search-bold, $color-ui-400));
			background-position: center center;
			background-size: $icon-size-100;
			background-repeat: no-repeat;
			content: '';
			pointer-events: none;
		}
	}

	.search-input--90 & {
		height: $control-size-90;
	}
}

.search-input__input {
	position: relative;
	padding-top: (($control-size-100 - ($input-line-height * $input-font-size)) / 2);
	padding-right: 0;
	padding-bottom: (($control-size-100 - ($input-line-height * $input-font-size)) / 2);
	padding-left: $spacing * 1.5;
	width: 100%;
	height: $control-size-100 - 2px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: $input-color;
	font-size: $input-font-size;
	line-height: $input-line-height;
	transition: $input-transition;
	appearance: none;

	&:focus {
		box-shadow: none;
	}

	&:disabled {
		opacity: $opacity-disabled;
		pointer-events: none;
	}

	&::-ms-value {
		background: none; // NOTE To remove blue background on IE10+ when selected.
		color: $color-text; // NOTE To make sure the text is readable on a light background from item-pop-up-menu when selected and input is not checked.
	}

	&::placeholder {
		color: $color-text-80;
		opacity: $opacity-100;
	}

	&:-webkit-autofill {
		padding-right: $spacing * 1.5;
		border: $input-autofill-border;
		background-color: $input-autofill-background-color;
		box-shadow: $input-autofill-box-shadow, $input-autofill-box-shadow-background;
	}

	.search-input--90 & {
		padding: ($spacing * 0.75) ($spacing * 1.5);
		height: $control-size-90 - 2px;
		font-size: $font-size-100;
	}

	.search-input--rounded-ends & {
		padding-left: $control-size-100 / 2;
	}

	.search-input--90.search-input--rounded-ends & {
		padding-left: $control-size-90 / 2;
	}

	.search-input--icon & {
		padding-left: 0;
	}
}

.search-input__toolbar {
	flex: 0 0 auto;
	display: block;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		content: '';
		pointer-events: none;

		.search-input__input:focus ~ & {
			display: block;
			border: $input-focus-border;
			box-shadow: $input-focus-box-shadow;

			.search-input--rounded-ends & {
				border-radius: $control-size-100 / 2;
			}

			.search-input__input-box:not(:last-child) & {
				border-top-right-radius: $search-input-border-radius;
				border-bottom-right-radius: $search-input-border-radius;
			}
		}

		.search-input__input:-webkit-autofill:focus ~ & {
			border: $input-autofill-focus-border;
			box-shadow: $input-autofill-focus-box-shadow, $input-autofill-focus-box-shadow-background;
		}
	}
}

.search-input__action {
	position: relative;
	display: inline-block;
	padding: $spacing ($spacing * 2);
	min-width: $control-size-100;
	height: 100%;
	border-radius: $search-input-border-radius;
	background-position: center center;
	background-size: $icon-size-100;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: default;

	&:first-child::before {
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		width: $spacing;
		background-image: linear-gradient(to right, transparent 0%, $color-harbour-white 100%);
		content: '';
	}

	.search-input--90 & {
		min-width: $control-size-90;
	}

	.search-input__action--clear ~ &:not(.search-input__action--clear):not(.search-input__action--search),
	.search-input__action--search ~ &:not(.search-input__action--clear):not(.search-input__action--search) {
		padding-left: $spacing * 0.5;
	}

	.search-input--rounded-ends .search-input__input-box:last-child &:last-child {
		border-top-right-radius: $control-size-100 / 2;
		border-bottom-right-radius: $control-size-100 / 2;
	}
}

.search-input__action--clear {
	background-image: url(get-svg-uri($icon-cross, $color-text-300));
}

.search-input__action--search {
	background-image: url(get-svg-uri($icon-search-bold, $color-text-300));
}

.search-input__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacing ($spacing * 2);
	min-width: $control-size-100;
	border: $search-input-border;
	border-left: none;
	border-top-right-radius: $search-input-border-radius;
	border-bottom-right-radius: $search-input-border-radius;
	background-color: $search-input-button-background-color;
	cursor: default;
	user-select: none;

	.search-input--90 & {
		min-width: $control-size-90;
	}

	.search-input--button-seperated & {
		margin-left: $search-input-button-gap;
		border-left: $input-border;
		border-radius: $search-input-border-radius;
	}

	.search-input--rounded-ends & {
		border-top-right-radius: $control-size-100 / 2;
		border-bottom-right-radius: $control-size-100 / 2;
	}
}

.search-input__button--primary {
	background-color: $color-primary;
}

.search-input__button--secondary {
	background-color: $color-secondary;
}

.search-input__button--tertiary {
	background-color: $color-tertiary;
}
