.text-input {
	position: relative;
	display: block;
	padding-top: (($control-size-100 - ($input-line-height * $input-font-size)) / 2);
	padding-right: $spacing * 1.5;
	padding-bottom: (($control-size-100 - ($input-line-height * $input-font-size)) / 2);
	padding-left: $spacing * 1.5;
	width: 100%;
	height: $control-size-100;
	border: $input-border;
	border-radius: $input-border-radius;
	background-color: $input-background-color;
	color: $input-color;
	font-size: $input-font-size;
	line-height: $input-line-height;
	transition: $input-transition;
	appearance: none;

	&:disabled {
		opacity: $opacity-disabled;
		pointer-events: none;
	}

	&:focus {
		border: $input-focus-border;
		background-color: $input-focus-background-color;
		box-shadow: $input-focus-box-shadow;
	}

	&.is-valid,
	&.is-invalid {
		padding-right: $control-size-100;
		background-position: right (($control-size-100 - $icon-size-100) / 2) center;
		background-size: $icon-size-100 $icon-size-100;
		background-repeat: no-repeat;
	}

	&.is-valid {
		border: $input-is-valid-border;
		background-color: $input-is-valid-background-color;
		background-image: url(get-svg-uri($input-is-valid-icon, $input-is-valid-icon-color));
		box-shadow: $input-is-valid-box-shadow;

		&:focus {
			border: $input-is-valid-focus-border;
			background-color: $input-is-valid-focus-background-color;
			box-shadow: $input-is-valid-focus-box-shadow;
		}
	}

	&.is-invalid {
		border: $input-is-invalid-border;
		background-color: $input-is-invalid-background-color;
		background-image: url(get-svg-uri($input-is-invalid-icon, $input-is-invalid-icon-color));
		box-shadow: $input-is-invalid-box-shadow;

		&:focus {
			border: $input-is-invalid-focus-border;
			background-color: $input-is-invalid-focus-background-color;
			box-shadow: $input-is-invalid-focus-box-shadow;
		}
	}

	&::placeholder {
		color: $color-text-80;
		opacity: $opacity-100;
	}

	&:-webkit-autofill {
		padding-right: $spacing * 1.5;
		border: $input-autofill-border;
		background-color: $input-autofill-background-color;
		box-shadow: $input-autofill-box-shadow, $input-autofill-box-shadow-background;

		&:focus {
			border: $input-autofill-focus-border;
			background-color: $input-autofill-focus-background-color;
			box-shadow: $input-autofill-focus-box-shadow, $input-autofill-focus-box-shadow-background;
		}
	}
}

.text-input--90 {
	padding-right: $spacing * 1.5;
	padding-left: $spacing * 1.5;
	height: $control-size-90;
	font-size: $font-size-100;
}

.text-input--max-width-90 {
	max-width: $spacing * 40;
}

.text-input--max-width-80 {
	max-width: $spacing * 24;
}

.text-input--max-width-70 {
	max-width: $spacing * 20;
}

.text-input--max-width-60 {
	max-width: $spacing * 16;
}

.text-input--multiline {
	padding-top: $spacing * 1.5;
	padding-bottom: $spacing * 1.5;
	height: $spacing * 12;
	resize: vertical;

	@include media($range-lap, false) {
		max-width: 30em;
	}

	&.is-valid {
		background-position: calc(100% - 18px) 16px;
	}
}
