html {
	height: 100%;
}

body {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed; /* fix for max-width issues with images: see http://www.carsonshold.com/2014/07/css-display-table-cell-child-width-bug-in-firefox-and-ie/ */
}

main {
	display: table-row;
	height: 100%;
}

.page-header,
.page-footer {
	display: table-row;
	height: 1px;
}
