$form-section-border: 1px solid $color-ui-40;
$form-section-title-color: $color-text;
$form-fieldset-invalid-background-color: $color-ui-90;
$form-fieldset-invalid-border-color: $color-error;
$form-fieldset-feedback-text-background-color: $color-error;
$form-fieldset-feedback-text-color: $color-text-diap;
$form-label-helper-text-color: $color-text;
$form-input-helper-text-color: $color-text;
$form-input-validation-icon-color: $color-light;
$form-input-validation-icon-invalid-background-color: $color-error;
$form-input-validation-icon-valid-background-color: $color-success;
$form-field-text-color: $color-text;
$form-helper-text-color: $color-text;
$form-strong-text-color: $color-text;
$form-feedback-text-color: $color-text;

.form {
}

.form__inner {
}

.form__sections {
}

.form__section {
	border-bottom: $form-section-border;

	@include media(0, $range-hand) {
		@include padding(15px null);
	}
	@include media($range-lap, false) {
		@include padding(20px null);
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
}

.form__section-title {
	color: $form-section-title-color;
	line-height: $line-height-60;

	@include media(0, $range-palm) {
		text-align: left;
	}
	@include media(0, $range-hand) {
		@include padding(null 20px);
		margin-bottom: 10px;
		font-size: $font-size-300;
	}
	@include media($range-hand) {
		margin-top: 5px;
		text-align: center;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		margin-top: 10px;
		margin-bottom: 15px;
		text-align: center;
		font-size: $font-size-400;
	}
}

.form__section-text {
	line-height: $line-height-80;

	@include media(0, $range-palm) {
		@include padding(null 20px);
		text-align: left;
	}
	@include media($range-hand) {
		@include padding(null 20px);
		text-align: center;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		text-align: center;
	}
}

.form__fieldset {
	position: relative;

	@include media(0, $range-hand) {
		@include margin(5px null);
	}
	@include media($range-lap, false) {
		@include margin(10px null);
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.is-invalid {
		background-color: $form-fieldset-invalid-background-color;

		@include media(0, $range-hand) {
			border-top: 2px solid $form-fieldset-invalid-border-color;
			border-bottom: 2px solid $form-fieldset-invalid-border-color;
		}
		@include media($range-lap, false) {
			@include padding(10px null);
			border-radius: $border-radius-200;
			box-shadow: 0 0 0 2px $form-fieldset-invalid-border-color;
		}
	}
}

.form__fieldset-feedback-text {
	position: relative;
	top: 10px;
	margin-top: -10px;
	padding: 5px 20px;
	background-color: $form-fieldset-feedback-text-background-color;
	color: $form-fieldset-feedback-text-color;
	text-align: center;
	font-size: $font-size-90;
	line-height: $line-height-20;

	@include media($range-lap, false) {
		@include border-bottom-radius($border-radius-100);
	}
}

.form__field {
	@include clearfix;
	width: 100%;

	@include media(0, $range-hand) {
		@include padding(null 20px);
		@include margin(5px null);
		display: block;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		@include margin(10px null);
		display: table;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form__field--full {
	@include padding(null 0px);
}

.form__field-title {
	margin-top: 20px;
	line-height: $line-height-70;

	@include media(0, $range-hand) {
		font-size: $font-size-100;
	}
	@include media($range-lap, false) {
		text-align: center;
		font-size: $font-size-200;
	}
}

.form__label-box {
	@include media($range-lap, false) {
		display: table-cell;
		padding-right: 20px;
		min-width: 220px;
		width: 36%;
		vertical-align: top;
		text-align: right;
	}
}

.form__label-box--full {
	@include media($range-lap, false) {
		@include padding(null 40px);
		display: table-row;
		width: 100%;
		text-align: center;
	}
}

.form__label {
	width: 100%;
	line-height: $line-height-70;

	@include media(0, $range-hand) {
		font-size: $font-size-90;
	}
	@include media($range-lap, false) {
		@include display(flex); // NOTE: To be able to align content.
		@include justify-content(center); // NOTE: To place contents to the right.
		@include align-items(flex-end); // NOTE: Align vertical.
		@include flex-direction(column);
		min-height: 40px;
		font-size: $font-size-100;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		padding-top: 10px; // FIX: IE 10 and 11 don't support flexbox with min-height. This fixes the layout.
	}

	.form__label-box--full & {
		@include media($range-lap, false) {
			@include justify-content(center); // NOTE: To center contents.
			@include align-items(center);
		}
	}
}

.form__label-helper-text {
	color: $form-label-helper-text-color;
	font-size: $font-size-80;
	line-height: $line-height-20;

	&::before {
		@include media(0, $range-hand) {
			content: ' (';
		}
		@include media($range-lap, false) {
			content: '\A';
		}
	}

	&::after {
		@include media(0, $range-hand) {
			content: ')';
		}
	}
}

.form__inputs {
	@include media($range-lap, false) {
		display: table-cell;
		vertical-align: top;
	}
}

.form__inputs--full {
	@include media($range-lap, false) {
		display: table-row;
		width: 100%;
		text-align: center;
	}
}

.form__input-box {
	@include clearfix;
	position: relative;
}

.form__input-helper-text {
	display: block;
	margin-top: 3px;
	color: $form-input-helper-text-color;
	font-size: $font-size-90;
	line-height: $line-height-80;
}

.form__text-input {
}

.form__input-validation-icon {
	@include user-select(none);
	@include align(absolute, null, center);
	left: -7px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	color: $form-input-validation-icon-color;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	pointer-events: none;

	.form__text-input.is-valid ~ & {
		background-color: $form-input-validation-icon-valid-background-color;

		&::before {
			content: '\221A'; // TODO: Add (SVG) icon solution
		}
	}

	.form.is-submitted .form__text-input.is-invalid ~ & {
		background-color: $form-input-validation-icon-invalid-background-color;

		&::before {
			content: '\00d7'; // TODO: Add (SVG) icon solution
		}
	}
}

.form__field-text {
	color: $form-field-text-color;

	@include media(0, $range-hand) {
		margin-top: 5px;
		font-size: $font-size-90;
		line-height: $line-height-100;
	}
	@include media($range-lap, false) {
		margin-top: 10px;
		padding-right: 60px;
		font-size: $font-size-100;
		line-height: $line-height-90;
	}
}

.form__field-text--full {
	margin: 10px auto 0;
	padding-right: 0;
	max-width: 600px;
	font-size: $font-size-100;
	line-height: $line-height-90;

	@include media($range-lap, false) {
		text-align: center;
	}
}

.form__helper-text {
	display: block;
	margin-top: 4px;
	max-width: 40em;
	color: $form-helper-text-color;
	font-size: $font-size-90;
	line-height: $line-height-90;
}

.form__strong-text {
	color: $form-strong-text-color;
	font-weight: bold;
}

.form__feedback-text {
	position: relative;
	display: block;
	padding-top: 10px;
	padding-left: 28px;
	color: $form-feedback-text-color;
	font-size: $font-size-90;
	line-height: $line-height-80;

	&::before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 15px;
		height: 15px;
		border-bottom: 1px solid $color-ui-300;
		border-left: 1px solid $color-ui-300;
		border-bottom-left-radius: $border-radius-100;
		content: '';
	}

	&.is-hidden {
		display: none;
	}
}

.form__summary {
	margin-bottom: 15px;
	width: 100%;
}

.form__actions {
	@include clearfix;
	width: 100%;

	@include media(0, $range-hand) {
		margin-top: 12px;
	}
	@include media($range-lap, false) {
		margin-top: 10px;
	}
}

.form__action {
}

.form__action-helper {
	margin-bottom: 15px;
}
