$form-section-border: $border-ui-90 !default;
$form-section-title-color: inherit !default;
$form-section-text-color: inherit !default;
$form-label-color: inherit !default;
$form-label-helper-text-color: inherit !default;
$form-helper-text-color: inherit !default;
$form-feedback-text-color: inherit !default;
$form-feedback-text-icon-border: $border-input-100 !default;

.form {
}

.form__sections {
}

.form__section {
	border-bottom: $form-section-border;

	@include media(0, $range-hand) {
		@include padding(16px null);
	}
	@include media($range-lap, false) {
		@include padding(24px null);
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
}

.form__section-title {
	max-width: 45em;
	color: $form-section-title-color;
	line-height: $line-height-60;

	@include media(0, $range-hand) {
		@include padding(null 16px);
		margin-bottom: 8px;
		text-align: left;
		font-size: $font-size-300;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		margin-right: auto;
		margin-bottom: 16px;
		margin-left: auto;
		padding-top: 16px;
		text-align: center;
		font-size: $font-size-400;
	}
}

.form__section-text {
	max-width: 45em;
	color: $form-section-text-color;
	line-height: $line-height-80;

	@include media(0, $range-hand) {
		@include padding(null 16px);
		text-align: left;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
}

.form__fieldset {
	@include media(0, $range-hand) {
		@include margin(4px null);
	}
	@include media($range-lap, false) {
		@include margin(8px null);
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form__field {
	@include media(0, $range-hand) {
		@include padding(null 16px);
		@include margin(4px null);
		display: block;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		@include margin(8px null);
		display: table;
		width: 100%;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form__field--full {
	@include padding(null 0px);
}

.form__label-box {
	@include media($range-lap, false) {
		display: table-cell;
		padding-right: 16px;
		min-width: 220px;
		width: 36%;
		vertical-align: top;
		text-align: right;
	}
}

.form__label {
	width: 100%;
	color: $form-label-color;
	line-height: $line-height-70;

	@include media(0, $range-hand) {
		display: block;
		margin-bottom: 2px;
		font-size: $font-size-90;
	}
	@include media($range-lap, false) {
		@include display(flex); // NOTE: To be able to align content.
		@include justify-content(center); // NOTE: Align vertical.
		@include align-items(flex-end); // NOTE: To place contents to the right.
		@include flex-direction(column);
		min-height: 32px;
		font-size: $font-size-100;
	}

	@include media-ie-10-11 {
		padding-top: 8px; // FIX: IE 10 and 11 don't support flexbox with min-height. This fixes the layout.
	}
}

.form__label-helper-text {
	color: $form-label-helper-text-color;
	font-size: $font-size-80;
	line-height: $line-height-60;

	&::before {
		@include media(0, $range-hand) {
			content: ' (';
		}
		@include media($range-lap, false) {
			content: '\A'; // NOTE: Line break
		}
	}

	&::after {
		@include media(0, $range-hand) {
			content: ')';
		}
	}
}

.form__inputs-box {
	@include media($range-lap, false) {
		display: table-cell;
		vertical-align: top;
	}
}

.form__helper-text {
	display: block;
	margin-top: 4px;
	max-width: 35em;
	color: $form-helper-text-color;
	font-size: $font-size-90;
	line-height: $line-height-90;
}

.form__feedback-text {
	position: relative;
	display: block;
	padding-top: 8px;
	padding-left: 20px;
	max-width: 35em;
	color: $form-feedback-text-color;
	font-size: $font-size-90;
	line-height: $line-height-80;

	&::before {
		position: absolute;
		top: 4px;
		left: 0;
		width: 16px;
		height: 16px;
		border-bottom: $form-feedback-text-icon-border;
		border-left: $form-feedback-text-icon-border;
		border-bottom-left-radius: $border-radius-100;
		content: '';
	}

	&.is-hidden {
		display: none;
	}
}

.form__actions {
	@include media(0, $range-hand) {
		@include padding(null 16px);
		margin-top: 4px;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		margin-top: 8px;
	}
}

.form__action:first-child {
	@include media($range-lap, false) {
		margin-left: 36%;
	}
}
