$form-section-border: $border-ui-90 !default;
$form-section-title-color: $color-text !default;
$form-fieldset-invalid-background-color: $color-ui-90 !default;
$form-fieldset-invalid-border-color: $color-error !default;
$form-fieldset-feedback-text-background-color: $color-info !default;
$form-fieldset-feedback-text-color: $color-text-diap !default;
$form-label-helper-text-color: $color-text !default;
$form-field-text-color: $color-text !default;
$form-input-indicator-icon-color: $color-text !default;
$form-input-indicator-icon-color-diap: $color-text-diap !default;
$form-input-indicator-icon-border: $border-ui-100 !default;
$form-input-indicator-icon-background-color: $color-input-background !default;
$form-input-indicator-icon-invalid-background-color: $color-error !default;
$form-input-indicator-icon-valid-background-color: $color-success !default;
$form-helper-text-color: $color-text !default;
$form-feedback-text-color: $color-text !default;
$form-feedback-text-icon-border: $border-input-100 !default;

.form {
}

.form__sections {
}

.form__section {
	border-bottom: $form-section-border;

	@include media(0, $range-hand) {
		@include padding(16px null);
	}
	@include media($range-lap, false) {
		@include padding(24px null);
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
}

.form__section-title {
	max-width: 45em;
	color: $form-section-title-color;
	line-height: $line-height-60;

	@include media(0, $range-hand) {
		@include padding(null 16px);
		margin-bottom: 8px;
		text-align: left;
		font-size: $font-size-300;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		margin-right: auto;
		margin-bottom: 16px;
		margin-left: auto;
		padding-top: 16px;
		text-align: center;
		font-size: $font-size-400;
	}
}

.form__section-text {
	max-width: 45em;
	line-height: $line-height-80;

	@include media(0, $range-hand) {
		@include padding(null 16px);
		text-align: left;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
}

.form__fieldset {
	@include media(0, $range-hand) {
		@include margin(4px null);
	}
	@include media($range-lap, false) {
		@include margin(8px null);
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form__field {
	@include media(0, $range-hand) {
		@include padding(null 16px);
		@include margin(4px null);
		display: block;
	}
	@include media($range-lap, false) {
		@include padding(null 40px);
		@include margin(8px null);
		display: table;
		width: 100%;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form__field--full {
	@include padding(null 0px);
}

.form__label-box {
	@include media($range-lap, false) {
		display: table-cell;
		padding-right: 16px;
		min-width: 220px;
		width: 36%;
		vertical-align: top;
		text-align: right;
	}
}

.form__label {
	width: 100%;
	line-height: $line-height-70;

	@include media(0, $range-hand) {
		display: block;
		margin-bottom: 2px;
		font-size: $font-size-90;
	}
	@include media($range-lap, false) {
		@include display(flex); // NOTE: To be able to align content.
		@include justify-content(center); // NOTE: Align vertical.
		@include align-items(flex-end); // NOTE: To place contents to the right.
		@include flex-direction(column);
		min-height: 32px;
		font-size: $font-size-100;
	}

	@include media-ie-10-11 {
		padding-top: 8px; // FIX: IE 10 and 11 don't support flexbox with min-height. This fixes the layout.
	}
}

.form__label-helper-text {
	color: $form-label-helper-text-color;
	font-size: $font-size-80;
	line-height: $line-height-60;

	&::before {
		@include media(0, $range-hand) {
			content: ' (';
		}
		@include media($range-lap, false) {
			content: '\A'; // NOTE: Line break
		}
	}

	&::after {
		@include media(0, $range-hand) {
			content: ')';
		}
	}
}

.form__input-box {
	@include media($range-lap, false) {
		display: table-cell;
		vertical-align: top;
	}
}

.form__inputs {
	@include clearfix;
	position: relative;
}

.form__input {
}

.form__input-indicator-icon {
	@include user-select(none);
	@include align(absolute, null, center);
	left: -7px;
	display: none;
	width: 16px;
	height: 16px;
	border: 1px solid $form-input-indicator-icon-border;
	border-radius: 50%;
	background-color: $form-input-indicator-icon-background-color;
	color: $form-input-indicator-icon-color;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	pointer-events: none;

	.form__input.is-valid ~ & {
		display: block;
		background-color: $form-input-indicator-icon-valid-background-color;
		color: $form-input-indicator-icon-color-diap;

		&::before {
			content: '\221A'; // TODO: Add valid icon
		}
	}

	.form.is-submitted .form__input.is-invalid ~ & {
		display: block;
		background-color: $form-input-indicator-icon-invalid-background-color;
		color: $form-input-indicator-icon-color-diap;

		&::before {
			content: '\00d7'; // TODO: Add invalid icon
		}
	}

	.form__input.is-loading ~ & {
		display: block;
		cursor: progress;

		&::after {
			@include animation(spin 1.5s infinite linear);
			display: block;
			content: '\221E'; // TODO: Add loading icon
		}
	}
}

.form__helper-text {
	display: block;
	margin-top: 4px;
	max-width: 35em;
	color: $form-helper-text-color;
	font-size: $font-size-90;
	line-height: $line-height-90;
}

.form__feedback-text {
	position: relative;
	display: block;
	padding-top: 8px;
	padding-left: 28px;
	max-width: 35em;
	color: $form-feedback-text-color;
	font-size: $font-size-90;
	line-height: $line-height-80;

	&::before {
		position: absolute;
		top: 8px;
		left: 8px;
		width: 16px;
		height: 16px;
		border-bottom: $form-feedback-text-icon-border;
		border-left: $form-feedback-text-icon-border;
		border-bottom-left-radius: $border-radius-100;
		content: '';
	}

	&.is-hidden {
		display: none;
	}
}

.form__actions {
	margin-top: 8px;
}

.form__action {
}
