// IDEA: Add has-helper-button modifier?
$input-box-indicator-icon-color: $color-icon !default;
$input-box-indicator-icon-color-diap: $color-icon-diap !default;
$input-box-indicator-icon-border: $border-input-100 !default;
$input-box-indicator-icon-background-color: $color-input-background !default;
$input-box-indicator-icon-invalid-background-color: $color-error !default;
$input-box-indicator-icon-valid-background-color: $color-success !default;

.input-box {
	position: relative;
}

.input-box__input {
}

.input-box__state-indicator {
	position: absolute;
	top: 8px;
	left: -7px;
	display: none;
	width: 16px;
	height: 16px;
	border: $input-box-indicator-icon-border;
	border-radius: 50%;
	background-color: $input-box-indicator-icon-background-color;
	color: $input-box-indicator-icon-color;
	text-align: center;
	font-size: $icon-size-80;
	line-height: 14px;
	pointer-events: none;
	user-select: none;

	.input-box__input.is-valid ~ & {
		display: block;
		background-color: $input-box-indicator-icon-valid-background-color;
		color: $input-box-indicator-icon-color-diap;

		&::before {
			content: '\221A'; // TODO: Add valid icon
		}
	}

	.input-box__input.is-invalid ~ & {
		display: block;
		background-color: $input-box-indicator-icon-invalid-background-color;
		color: $input-box-indicator-icon-color-diap;

		&::before {
			content: '\00d7'; // TODO: Add invalid icon
		}
	}

	.input-box__input.is-loading ~ & {
		display: block;
		cursor: progress;

		&::before {
			display: block;
			content: '\221E'; // TODO: Add loading icon
			animation: spin 1.5s infinite linear;
		}
	}
}
