$tooltip-border-color: $color-ui-300 !default;
$tooltip-background-color: $color-pop-out !default;
$tooltip-box-shadow: $box-shadow-200 !default;
$tooltip-color: $color-text !default;
$tooltip-pointer-width: 14px !default;
$tooltip-pointer-height: 7px !default;

@include keyframes(tooltipFadeIn) {
	0% {
		@include transform(scale(0));
		opacity: 0.5;
	}

	50% {
		opacity: 0.8;
	}

	100% {
		@include transform(scale(1));
		opacity: 1;
	}
}

.tooltip {
	@include animation(tooltipFadeIn 0.18s $ease-out-back);
	position: absolute;
	z-index: 1000;
	padding: 10px 20px;
	max-width: 280px;
	border: 1px solid $tooltip-border-color;
	border-radius: $border-radius-200;
	background-color: $tooltip-background-color;
	box-shadow: $tooltip-box-shadow;
	color: $tooltip-color;
	font-size: $font-size-80;
	line-height: $line-height-70;
	pointer-events: none; // NOTE: Triggers mouse events on parent to prevent retriggering the tooltip in JavaScript
}

.tooltip--pointer-on-bottom {
	@include transform-origin(center bottom);
	margin-bottom: $tooltip-pointer-height + 2px; // NOTE: By default the tooltips balloon is positioned directly against the triggered element (by JavaScript). By adding a margin you can adjust this. By default this is the pointer height plus 2 pixels.
}

.tooltip--pointer-on-top {
	@include transform-origin(center top);
	margin-top: $tooltip-pointer-height + 2px; // NOTE: By default the tooltips balloon is positioned directly against the triggered element (by JavaScript). By adding a margin you can adjust this. By default this is the pointer height plus 2 pixels.
}

.tooltip__pointer {
	position: absolute;
	left: 50%;

	.tooltip--pointer-on-bottom & {
		bottom: 0;
	}

	.tooltip--pointer-on-top & {
		top: 0;
	}
}

.tooltip__pointer::before,
.tooltip__pointer::after {
	position: absolute;
	left: 50%;
	margin-left: ($tooltip-pointer-width / 2) * -1;
	content: '';
}

// NOTE: The pointer's fake border
.tooltip__pointer::before {
	.tooltip--pointer-on-bottom & {
		@include triangle($tooltip-pointer-width $tooltip-pointer-height, $tooltip-border-color, down);
		top: 1px;
	}

	.tooltip--pointer-on-top & {
		@include triangle($tooltip-pointer-width $tooltip-pointer-height, $tooltip-border-color, up);
		bottom: 1px;
	}
}

// NOTE: The pointer's fill
.tooltip__pointer::after {
	.tooltip--pointer-on-bottom & {
		@include triangle($tooltip-pointer-width $tooltip-pointer-height, $tooltip-background-color, down);
		top: 0;
	}

	.tooltip--pointer-on-top & {
		@include triangle($tooltip-pointer-width $tooltip-pointer-height, $tooltip-background-color, up);
		bottom: 0;
	}
}
