$content-table-border-color: $color-ui-30 !default;

$content-table-cell-padding-hand-and-smaller: $spacing;
$content-table-cell-padding-lap-and-larger: $spacing * 1.5;

.content {
	max-width: 40em;
	line-height: $line-height-60;

	@include media(0, $range-hand) {
		font-size: $font-size-100;
	}
	@include media($range-lap, false) {
		font-size: $font-size-200;
	}

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

.content--90 {
	@include media(0, $range-hand) {
		font-size: $font-size-90;
	}
	@include media($range-lap, false) {
		font-size: $font-size-100;
	}
}

.content--200 {
	@include media(0, $range-hand) {
		font-size: $font-size-200;
	}
	@include media($range-lap, false) {
		font-size: $font-size-300;
	}
}

.content--centered {
	margin-right: auto;
	margin-left: auto;
}

.content--centering {
	text-align: center;
}

.content--light {
	color: $color-text-light;
}

// TODO HAR-148: Add content width modifiers (--expanded, narrow, etc) when text width setting is added

h1 {

	.content & {
		font-weight: bold;
		line-height: $line-height-40;

		@include media(0, $range-hand) {
			margin-top: $line-height-40 * $font-size-500 / 2;
			margin-bottom: $line-height-40 * $font-size-500 / 2;
			font-size: $font-size-500;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-40 * $font-size-600 / 2;
			margin-bottom: $line-height-40 * $font-size-600 / 2;
			font-size: $font-size-600;
		}
	}
}

h2 {

	.content & {
		font-weight: bold;
		line-height: $line-height-40;

		@include media(0, $range-hand) {
			margin-top: $line-height-40 * $font-size-400 / 2;
			margin-bottom: $line-height-40 * $font-size-400 / 2;
			font-size: $font-size-400;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-40 * $font-size-500 / 2;
			margin-bottom: $line-height-40 * $font-size-500 / 2;
			font-size: $font-size-500;
		}
	}
}

h3 {

	.content & {
		font-weight: bold;
		line-height: $line-height-40;

		@include media(0, $range-hand) {
			margin-top: $line-height-40 * $font-size-300 / 2;
			margin-bottom: $line-height-40 * $font-size-300 / 2;
			font-size: $font-size-300;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-40 * $font-size-400 / 2;
			margin-bottom: $line-height-40 * $font-size-400 / 2;
			font-size: $font-size-400;
		}
	}
}

h4 {

	.content & {
		font-weight: bold;
		line-height: $line-height-40;

		@include media(0, $range-hand) {
			margin-top: $line-height-40 * $font-size-200 / 2;
			margin-bottom: $line-height-40 * $font-size-200 / 2;
			font-size: $font-size-200;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-40 * $font-size-300 / 2;
			margin-bottom: $line-height-40 * $font-size-300 / 2;
			font-size: $font-size-300;
		}
	}
}

h5 {

	.content & {
		font-weight: bold;
		line-height: $line-height-40;

		@include media(0, $range-hand) {
			margin-top: $line-height-40 * $font-size-100 / 2;
			margin-bottom: $line-height-40 * $font-size-100 / 2;
			font-size: $font-size-100;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-40 * $font-size-200 / 2;
			margin-bottom: $line-height-40 * $font-size-200 / 2;
			font-size: $font-size-200;
		}
	}
}

h6 {

	.content & {
		font-weight: bold;
		line-height: $line-height-40;

		@include media(0, $range-hand) {
			margin-top: $line-height-40 * $font-size-90 / 2;
			margin-bottom: $line-height-40 * $font-size-90 / 2;
			font-size: $font-size-90;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-40 * $font-size-100 / 2;
			margin-bottom: $line-height-40 * $font-size-100 / 2;
			font-size: $font-size-100;
		}
	}
}

p {

	.content & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
	}

	.content--90 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-90;
			margin-bottom: $line-height-60 * $font-size-90;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
	}

	.content--200 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-300;
			margin-bottom: $line-height-60 * $font-size-300;
		}
	}
}

ol,
ul {

	.content & {
		list-style-position: outside;

		@include media(0, $range-hand) {
			margin-left: $line-height-60 * $font-size-100;
		}
		@include media($range-lap, false) {
			margin-left: $line-height-60 * $font-size-200;
		}
	}

	.content--90 & {

		@include media(0, $range-hand) {
			margin-left: $line-height-60 * $font-size-90;
		}
		@include media($range-lap, false) {
			margin-left: $line-height-60 * $font-size-100;
		}
	}

	.content--200 & {

		@include media(0, $range-hand) {
			margin-left: $line-height-60 * $font-size-200;
		}
		@include media($range-lap, false) {
			margin-left: $line-height-60 * $font-size-300;
		}
	}
}

ol {

	.content & {
		list-style: decimal;
	}
}

ul {

	.content & {
		list-style: disc;
	}
}

li {

	.content & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
	}

	.content--90 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-90;
			margin-bottom: $line-height-60 * $font-size-90;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
	}

	.content--200 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-300;
			margin-bottom: $line-height-60 * $font-size-300;
		}
	}
}

a {

	.content & {
		text-decoration: underline;
	}
}

strong {

	.content & {
		font-weight: bold;
	}
}

em {

	.content & {
		font-style: italic;
	}
}

.highlighter-rouge {

	.content & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
	}
}

code {

	.content & {
		font-family: $font-family-monospace;

		@include media(0, $range-hand) {
			font-size: $font-size-90;
		}
		@include media($range-lap, false) {
			font-size: $font-size-100;
		}
	}

	.content--90 & {

		@include media(0, $range-hand) {
			font-size: $font-size-80;
		}
		@include media($range-lap, false) {
			font-size: $font-size-90;
		}
	}

	.content--200 & {

		@include media(0, $range-hand) {
			font-size: $font-size-100;
		}
		@include media($range-lap, false) {
			font-size: $font-size-200;
		}
	}
}

.highlight {

	.content & {
		border-radius: $border-radius-100;
	}
}

table {

	.content & {
		border-top: (($spacing / 4) solid $content-table-border-color);  // FIX: Temporary solution to fix stylelint, will be fixed in HAR-149

		@include media(0, $range-hand) {
			display: block;
			overflow-x: auto;
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
			/* stylelint-disable */
			background: /* Shadow covers */
				linear-gradient(to right, $color-background-light 30%, rgba(255, 255, 255, 0)),
				linear-gradient(to right, rgba(255, 255, 255, 0), $color-background-light 70%),
				/* Shadows */
				radial-gradient(farthest-side at 0 50%, rgba($color-shadow, $opacity-20), rgba($color-shadow, 0)),
				radial-gradient(farthest-side at 100% 50%, rgba($color-shadow, $opacity-20), rgba($color-shadow, 0));
			/* stylelint-enable */
			background-color: $color-background-light;
			/* Opera doesn't support this in the shorthand */
			background-attachment: local, local, scroll, scroll;
			background-position: left, right, left, right;
			background-size: ($spacing * 5) 100%, ($spacing * 5) 100%, ($spacing * 1.5) 100%, ($spacing * 1.5) 100%;
			background-repeat: no-repeat;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
			width: 100%;
		}
	}

	.content--90 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-90;
			margin-bottom: $line-height-60 * $font-size-90;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
	}

	.content--200 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-300;
			margin-bottom: $line-height-60 * $font-size-300;
		}
	}
}

thead {

	.content & {
		border-bottom: (($spacing / 4) solid $content-table-border-color); // FIX: Temporary solution to fix stylelint, will be fixed in HAR-149
	}
}

thead tr {

	.content & {
		border-bottom: (($spacing / 8) solid $content-table-border-color); // FIX: Temporary solution to fix stylelint, will be fixed in HAR-149
	}
}

tbody {

	.content & {
		border-bottom: (($spacing / 4) solid $content-table-border-color); // FIX: Temporary solution to fix stylelint, will be fixed in HAR-149
	}
}

tbody tr {

	.content & {
		border-bottom: (($spacing / 8) solid $content-table-border-color); // FIX: Temporary solution to fix stylelint, will be fixed in HAR-149
	}
}

tfoot {

	.content & {
		border-bottom: (($spacing / 4) solid $content-table-border-color); // FIX: Temporary solution to fix stylelint, will be fixed in HAR-149
	}
}

th {

	.content & {
		color: $color-heading-100;
		text-align: left;
		font-weight: $font-weight-400;

		@include media(0, $range-hand) {
			padding: $content-table-cell-padding-hand-and-smaller;
			white-space: nowrap;
		}
		@include media($range-lap, false) {
			padding: $content-table-cell-padding-lap-and-larger;
		}
	}
}

td {

	.content & {
		text-align: left;

		@include media(0, $range-hand) {
			padding: $content-table-cell-padding-hand-and-smaller;
			min-width: $spacing * 16;
		}
		@include media($range-lap, false) {
			padding: $content-table-cell-padding-lap-and-larger;
			min-width: $spacing * 8;
		}
	}
}

img {

	.content & {
		display: block;

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
	}

	.content--90 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-90;
			margin-bottom: $line-height-60 * $font-size-90;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-100;
			margin-bottom: $line-height-60 * $font-size-100;
		}
	}

	.content--200 & {

		@include media(0, $range-hand) {
			margin-top: $line-height-60 * $font-size-200;
			margin-bottom: $line-height-60 * $font-size-200;
		}
		@include media($range-lap, false) {
			margin-top: $line-height-60 * $font-size-300;
			margin-bottom: $line-height-60 * $font-size-300;
		}
	}
}
