$dialog-border-width: ($spacing / 8) !default;
$dialog-border-radius: $border-radius-200 !default;

$dialog-padding-90: $spacing * 1.5 !default;
$dialog-padding-100: $spacing * 2 !default;

$dialog-border-color: $color-secondary !default;
$dialog-background-color: $color-secondary-20 !default;
$dialog-color: $color-secondary-500 !default;
$dialog-icon-fill: $color-secondary !default;

$dialog-success-border-color: $color-success-200 !default;
$dialog-success-background-color: $color-success-30 !default;
$dialog-success-color: $color-success-600 !default;
$dialog-success-icon-fill: $color-success-600 !default;

$dialog-warning-border-color: $color-warning-300 !default;
$dialog-warning-background-color: $color-warning-70 !default;
$dialog-warning-color: $color-warning-700 !default;
$dialog-warning-icon-fill: $color-warning-700 !default;

$dialog-error-border-color: $color-error-300 !default;
$dialog-error-background-color: $color-error-50 !default;
$dialog-error-color: $color-error-600 !default;
$dialog-error-icon-fill: $color-error-600 !default;

$dialog-content-90-font-size: $font-size-100;
$dialog-content-90-line-height: $line-height-60;
$dialog-content-100-font-size: $font-size-200;
$dialog-content-100-line-height: $line-height-60;

$dialog-icon-90-size: $dialog-content-90-font-size * $dialog-content-90-line-height * 2 !default;
$dialog-icon-100-size: $dialog-content-100-font-size * $dialog-content-100-line-height * 2 !default;

.dialog {
	display: flex;
	border: $dialog-border-width solid $dialog-border-color;
	border-radius: $dialog-border-radius;
	background-color: $dialog-background-color;
	color: $dialog-color;

	@include media(0, $range-hand) {
		padding: $dialog-padding-90;
	}
	@include media($range-lap, false) {
		padding: $dialog-padding-100;
	}
}

.dialog--icon {

	&::before {
		display: flex;
		flex-shrink: 0;
		flex-grow: 0;
		align-self: flex-start;
		background-image: url(get-svg-uri($icon-information-circle-solid, $color-secondary-200));
		background-position: center;
		background-size: auto 100%;
		background-repeat: no-repeat;
		content: '';

		@include media(0, $range-hand) {
			margin-right: $dialog-padding-90;
			width: $dialog-icon-90-size;
			height: $dialog-icon-90-size;
		}
		@include media($range-lap, false) {
			margin-right: $dialog-padding-100;
			width: $dialog-icon-100-size;
			height: $dialog-icon-100-size;
		}
	}
}

.dialog--success {
	border-color: $dialog-success-border-color;
	background-color: $dialog-success-background-color;
	color: $dialog-success-color;

	&.dialog--icon {

		&::before {
			background-image: url(get-svg-uri($icon-check-light, $dialog-success-color)); // TODO: Replace for icon with circle
		}
	}
}

.dialog--warning {
	border-color: $dialog-warning-border-color;
	background-color: $dialog-warning-background-color;
	color: $dialog-warning-color;

	&.dialog--icon {

		&::before {
			background-image: url(get-svg-uri($icon-exclamation-circle-solid, $dialog-warning-color));
		}
	}
}

.dialog--error {
	border-color: $dialog-error-border-color;
	background-color: $dialog-error-background-color;
	color: $dialog-error-color;

	&.dialog--icon {

		&::before {
			background-image: url(get-svg-uri($icon-cross-circle-solid, $dialog-error-color));
		}
	}
}

.dialog__main {
	display: flex;
	align-items: center;

	@include media(0, $range-hand) {
		min-height: $dialog-icon-90-size;
		font-size: $dialog-content-90-font-size;
		line-height: $dialog-content-90-line-height;
	}
	@include media($range-lap, false) {
		min-height: $dialog-icon-100-size;
		font-size: $dialog-content-100-font-size;
		line-height: $dialog-content-100-line-height;
	}
}

// .dialog__content {

// 	@include media(0, $range-hand) {
// 		font-size: $dialog-content-90-font-size;
// 		line-height: $dialog-content-90-line-height;
// 	}
// 	@include media($range-lap, false) {
// 		font-size: $dialog-content-100-font-size;
// 		line-height: $dialog-content-100-line-height;
// 	}
// }
