$dialog-border-width: $spacing !default;
$dialog-border-color: $color-ui-200 !default;
$dialog-border: $dialog-border-width solid $dialog-border-color !default;
$dialog-border-radius: $border-radius-100 !default;
$dialog-background-color: white !default;
$dialog-color: $color-text !default;
$dialog-icon-color: $color-ui-200 !default;
$dialog-padding-90: $spacing * 1.5 !default;
$dialog-padding-100: $spacing * 2 !default;

$dialog-information-border-color: $color-secondary-200 !default;
$dialog-information-background-color: $color-secondary-30 !default;
$dialog-information-color: $color-secondary-600 !default;
$dialog-information-icon-color: $color-secondary-200 !default;

$dialog-success-border-color: $color-success-200 !default;
$dialog-success-background-color: $color-success-30 !default;
$dialog-success-color: $color-success-600 !default;
$dialog-success-icon-color: $color-success-300 !default;

$dialog-warning-border-color: $color-warning-300 !default;
$dialog-warning-background-color: $color-warning-70 !default;
$dialog-warning-color: $color-warning-700 !default;
$dialog-warning-icon-color: $color-warning-300 !default;

$dialog-error-border-color: $color-error-300 !default;
$dialog-error-background-color: $color-error-50 !default;
$dialog-error-color: $color-error-600 !default;
$dialog-error-icon-color: $color-error-300 !default;

$dialog-content-90-font-size: $font-size-100;
$dialog-content-90-line-height: $line-height-60;
$dialog-content-100-font-size: $font-size-200;
$dialog-content-100-line-height: $line-height-60;

$dialog-icon-90-size: $dialog-content-90-font-size * $dialog-content-90-line-height * 2 !default;
$dialog-icon-100-size: $dialog-content-100-font-size * $dialog-content-100-line-height * 2 !default;

$dialog-text-max-width: 45em;

$dialog-dismiss-action-icon: $icon-plus !default; // TODO: Add correct dismiss icon
$dialog-dismiss-action-icon-color: $dialog-icon-color !default;

.dialog {
	position: relative;
	display: flex;
	border-left: $dialog-border;
	border-radius: $dialog-border-radius;
	background-color: $dialog-background-color;
	box-shadow: $box-shadow-100;
	color: $dialog-color;

	@include media(0, $range-hand) {
		padding: $dialog-padding-90;
	}
	@include media($range-lap, false) {
		padding: $dialog-padding-100;
	}
}

.dialog--information,
.dialog--success,
.dialog--warning,
.dialog--error {

	&::before {
		display: flex;
		flex-shrink: 0;
		flex-grow: 0;
		align-self: flex-start;
		background-position: center;
		background-size: auto 100%;
		background-repeat: no-repeat;
		content: '';

		@include media(0, $range-hand) {
			margin-right: $dialog-padding-90;
			width: $dialog-icon-90-size;
			height: $dialog-icon-90-size;
		}
		@include media($range-lap, false) {
			margin-right: $dialog-padding-100;
			width: $dialog-icon-100-size;
			height: $dialog-icon-100-size;
		}
	}
}

.dialog--information {
	border-color: $dialog-information-border-color;

	&::before {
		background-image: url(get-svg-uri($icon-information-circle-solid, $dialog-information-icon-color));
	}
}

.dialog--success {
	border-color: $dialog-success-border-color;

	&::before {
		background-image: url(get-svg-uri($icon-check-circle-solid, $dialog-success-icon-color));
	}
}

.dialog--warning {
	border-color: $dialog-warning-border-color;

	&::before {
		background-image: url(get-svg-uri($icon-exclamation-circle-solid, $dialog-warning-icon-color));
	}
}

.dialog--error {
	border-color: $dialog-error-border-color;

	&::before {
		background-image: url(get-svg-uri($icon-cross-circle-solid, $dialog-error-icon-color));
	}
}

.dialog__body {
	flex-basis: 100%; //NOTE: Fix for IE rendering body too big.
	align-self: center;
	flex-grow: 1;

	@include media(0, $range-hand) {
		min-height: $dialog-icon-90-size;
	}
	@include media($range-lap, false) {
		min-height: $dialog-icon-100-size;
	}
}

.dialog__message {
	display: flex;
	flex-direction: column;
	margin-right: $spacing * 2;
	justify-content: center;
}

.dialog__text {
	max-width: $dialog-text-max-width;

	@include media(0, $range-hand) {
		font-size: $dialog-content-90-font-size;
		line-height: $dialog-content-90-line-height;
	}
	@include media($range-lap, false) {
		font-size: $dialog-content-100-font-size;
		line-height: $dialog-content-100-line-height;
	}
}

.dialog__dismiss-action {

	&::after {
		position: absolute;
		top: $spacing;
		right: $spacing;
		width: $spacing * 2;
		height: $spacing * 2;
		background-image: url(get-svg-uri($dialog-dismiss-action-icon, $dialog-dismiss-action-icon-color));
		background-position: center;
		background-size: auto 100%;
		background-repeat: no-repeat;
		content: '';
	}
}

.dialog__accessories {
	@include media(0, $range-hand) {
		margin-top: $spacing;
	}
	@include media($range-lap, false) {
		margin-top: $spacing * 1.5;
	}
}

.dialog__actions {
	display: flex;
	flex-wrap: wrap;
	margin-right: $spacing * -0.5;
	margin-bottom: $spacing * -0.5;
	margin-left: $spacing * -0.5;

	@include media(0, $range-hand) {
		margin-top: $spacing * -0.5 + $spacing * 1;
	}
	@include media($range-lap, false) {
		margin-top: $spacing * -0.5 + $spacing * 1.5;
	}
}

.dialog__action {
	margin: $spacing * 0.5;
}
