$dialog-border-color: $color-ui-accent;
$dialog-border-width: ($spacing / 8);
$dialog-background-color: $color-ui-accent-20;
$dialog-border-radius: $border-radius-200;
$dialog-color: $color-ui-accent-500;
$dialog-icon-fill: $color-ui-accent;

$dialog-success-border-color: $color-success-200;
$dialog-success-background-color: $color-success-30;
$dialog-success-color: $color-success-600;
$dialog-success-icon-fill: $color-success-600;

$dialog-warning-border-color: $color-warning-300;
$dialog-warning-background-color: $color-warning-70;
$dialog-warning-color: $color-warning-700;
$dialog-warning-icon-fill: $color-warning-700;

$dialog-error-border-color: $color-error-300;
$dialog-error-background-color: $color-error-50;
$dialog-error-color: $color-text-diap;
$dialog-error-icon-fill: $color-error-600;

.dialog {
	display: flex;
	border: $dialog-border-width solid $border-color;
	border-radius: $dialog-border-radius;
	background-color: $dialog-background-color;
	color: $dialog-color;
	align-items: center;

	@include media(0, $range-hand) {
		padding: $spacing * 1.5;
	}
	@include media($range-lap,false) {
		padding: $spacing * 2;
	}
}

.dialog--success {
	border-color: $dialog-success-border-color;
	background-color: $dialog-success-background-color;
	color: $dialog-success-color;
}

.dialog--warning {
	border-color: $dialog-warning-border-color;
	background-color: $dialog-warning-background-color;
	color: $dialog-warning-color;
}

.dialog--error {
	border-color: $dialog-error-border-color;
	background-color: $dialog-error-background-color;
	color: $dialog-error-color;
}

.dialog__icon {
	margin-right: $spacing * 2;
	flex-shrink: 0;
	fill: $dialog-icon-fill;

	@include media(0, $range-hand) {
		width: $spacing * 4;
		height: $spacing * 4;
	}
	@include media($range-lap, false) {
		width: $spacing * 5;
		height: $spacing * 5;
	}

	.dialog--success & {
		fill: $dialog-success-icon-fill;
	}

	.dialog--warning & {
		fill: $dialog-warning-icon-fill;
	}

	.dialog--error & {
		fill: $dialog-error-icon-fill;
	}
}
