.headings {

	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}

.headings--light {
	@include font-smoothing;
}

.headings__running-head {
	color: $color-heading;
	font-weight: bold;

	@include media(0, $range-hand) {
		font-size: $font-size-90;
	}
	@include media($range-lap, false) {
		font-size: $font-size-100;
	}

	.headings--light & {
		color: $color-text-light;
	}
}

.headings__overline {}

.headings__headline {
	color: $color-heading-200;
	font-family: $font-family-display;
	font-weight: bold;
	line-height: $line-height-40;

	@include media(0, $range-hand) {
		font-size: $font-size-400;
	}
	@include media($range-lap) {
		font-size: $font-size-500;
	}
	@include media($range-desk, false) {
		font-size: $font-size-600;
	}

	.headings--light & {
		color: $color-text-light;
	}
}

.headings__title {
	color: $color-heading-200;
	font-weight: 400;
	line-height: $line-height-40;

	@include media(0, $range-hand) {
		font-size: $font-size-200;
	}
	@include media($range-lap) {
		font-size: $font-size-300;
	}
	@include media($range-desk, false) {
		font-size: $font-size-400;
	}

	.headings--light & {
		color: $color-text-light;
	}
}

.headings__subtitle {
	color: $color-heading-200;
	font-weight: 400;
	line-height: $line-height-40;

	@include media(0, $range-hand) {
		font-size: $font-size-100;
	}
	@include media($range-lap) {
		font-size: $font-size-200;
	}
	@include media($range-desk, false) {
		font-size: $font-size-300;
	}

	.headings--light & {
		color: $color-text-light;
	}
}

.headings__deck {}

.headings__underline {
	color: $color-heading-30;
	text-transform: uppercase;
	line-height: $line-height-40;

	@include media(0, $range-hand) {
		font-size: $font-size-90;
	}
	@include media($range-lap) {
		margin-top: $spacing / 4;
		font-size: $font-size-100;
	}
	@include media($range-desk, false) {
		margin-top: $spacing / 4;
		font-size: $font-size-100;
	}

	.headings--light & {
		color: $color-text-light;
	}
}

.headings__supporting-text {
	color: $color-text-90;
	line-height: $line-height-40;

	@include media(0, $range-hand) {
		margin-top: $spacing / 4;
		font-size: $font-size-100;
	}
	@include media($range-lap, false) {
		margin-top: $spacing / 2;
		font-size: $font-size-200;
	}

	.headings--light & {
		color: $color-text-light;
	}
}

.headings__emphasis {
	color: $color-secondary;
	font-weight: bold;
}
