.split-view {
}

.split-view__side-pane {
	min-height: 100vh;
	background-color: red; // $color-site-background
	will-change: transform; // NOTE: Improving performance of transition and scroll.

	@include media(0, $range-hand) {
		display: none;

		&.is-visible {
			display: block;
		}
	}
	@include media($range-lap, false) {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 200;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	@include media($range-lap, $range-desk-s) {
		left: -400px;
		visibility: hidden;
		width: 320px;
		box-shadow: $box-shadow-300;

		&.is-visible {
			visibility: visible;
			transition: transform 0.1s ease-out;
			transform: translateX(400px);
		}
	}
	@include media($range-desk-m) {
		left: 0;
		width: 260px;
		border-right: 1px solid $color-ui-200;
	}
	@include media($range-desk-l, false) {
		left: 0;
		width: 320px;
		border-right: 1px solid $color-ui-200;
	}
}

.split-view__main-pane {
	@include remove-tap-highlight-color;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh; // HACK: min-height on flex is not supported by IE 11. Height larger than 100vh is forced by setting flex shrink 0 on all children.
	background-color: $color-site-background;

	@include media($range-lap, false) {
		z-index: 100;
	}
	@include media($range-desk-m) {
		margin-left: 260px;
	}
	@include media($range-desk-l, false) {
		margin-left: 320px;
	}

	.split-view__side-pane.is-visible ~ & {
		@include media(0, $range-hand) {
			display: none;
		}
	}
}

.split-view__main-pane-header {
	// HACK: min-height on flex is not supported by IE 11. Height larger than 100vh is forced by setting flex shrink 0 on all children.
	flex-shrink: 0;
}

.split-view__main-pane-main {
	flex-grow: 1;
	flex-shrink: 0; // HACK: min-height on flex is not supported by IE 11. Height larger than 100vh is forced by setting flex shrink 0 on all children.
	flex-basis: auto;
}

.split-view__main-pane-main--connected-footer {
	flex-grow: 0;
}

.split-view__main-pane-footer {
	// HACK: min-height on flex is not supported by IE 11. Height larger than 100vh is forced by setting flex shrink 0 on all children.
	flex-shrink: 0;
}
