.collection--grid-one-whole-till-one-third {
	display: flex;
	flex-wrap: wrap;

	@include media(0, $range-hand-m) {
		margin: $spacing * -1;
	}
	@include media($range-hand-l, false) {
		margin: $spacing * -2;
	}
}

.collection__item {

	.collection--grid-one-whole-till-one-third > & {

		@include media(0, $range-hand-m) {
			margin: $spacing * 1;
			width: calc(100% - #{$spacing * 2});
		}
		@include media($range-hand-l, $range-lap-s) {
			margin: $spacing * 2;
			width: calc(50% - #{$spacing * 4});
		}
		@include media($range-lap-m, false) {
			margin: $spacing * 2;
			width: calc(33.33% - #{$spacing * 4});
		}
	}
}
