$form-z-index: 0 !default;
$form-field-header-width: 36%;
$form-field-main-width: 64%;
$form-section-header-min-width: $spacing * 28;
$form-control-max-width: $spacing * 60;

.form__header {
	@include media(0, $range-hand) {
		padding-bottom: $spacing * 1.5;
	}
	@include media($range-lap) {
		padding-bottom: $spacing * 2;
	}
	@include media($range-desk, false) {
		padding-bottom: $spacing * 3;
	}
}

.form__title {
	@include media(0, $range-hand) {
		font-size: $font-size-300;
	}
	@include media($range-lap, false) {
		font-size: $font-size-400;
	}
}

.form__supporting-text {
	max-width: $text-width-200;

	@include media(0, $range-hand) {
		margin-top: $spacing / 4;
		font-size: $font-size-100;
	}
	@include media($range-lap, false) {
		margin-top: $spacing;
		font-size: $font-size-200;
	}
}

.form__section {

	&:not(:first-child) {
		border-top: 1px dashed $color-ui-100;

		@include media(0, $range-palm) {
			padding-top: $spacing * 1.5;
		}
		@include media($range-hand) {
			padding-top: $spacing * 2;
		}
		@include media($range-lap, false) {
			padding-top: $spacing * 3;
		}
	}

	&:not(:last-child) {
		@include media(0, $range-palm) {
			padding-bottom: $spacing * 1.5;
		}
		@include media($range-hand) {
			padding-bottom: $spacing * 2;
		}
		@include media($range-lap, false) {
			padding-bottom: $spacing * 3;
		}
	}

	&.is-hidden {
		display: none;
	}

	.form--90 & {
		border-top: 0;

		&:not(:first-child) {
			padding-top: $spacing * 1.5;
		}

		&:not(:last-child) {
			padding-bottom: $spacing * 1.5;
		}
	}
}

.form__section-header {
	@include media(0, $range-palm) {
		margin-bottom: $spacing * 1.5;
	}
	@include media($range-hand) {
		margin-bottom: $spacing * 2;
	}
	@include media($range-lap, false) {
		margin-bottom: $spacing * 3;
	}
}

.form__section-title {
	color: $color-text;
	font-weight: bold;
	line-height: $line-height-40;

	@include media(0, $range-hand) {
		font-size: $font-size-100;
	}
	@include media($range-lap) {
		font-size: $font-size-200;
	}
	@include media($range-desk, false) {
		font-size: $font-size-300;
	}
}

.form__fieldset {
	position: relative;

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $spacing * 1.5;
		}
		@include media($range-hand) {
			margin-top: $spacing * 2;
		}
		@include media($range-lap, false) {
			margin-top: $spacing * 3;
		}
	}

	.form--90 & {

		&:not(:first-child) {
			margin-top: $spacing * 1.25;
		}
	}
}

.form__fieldset-feedback-text {
	position: relative;
	margin-top: $spacing * -1;
	padding: ($spacing / 2) ($spacing * 2.5);
	background-color: $color-error;
	color: $color-text-light;
	font-size: $font-size-90;
	line-height: $line-height-20;

	@include media($range-lap, false) {
		border-bottom-right-radius: $border-radius-100;
		border-bottom-left-radius: $border-radius-100;
	}
}

.form__field {
	width: 100%;

	&:not(:first-child) {
		margin-top: $spacing * 1.5;
	}

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {
		@include media(0, $range-hand) {
			display: block;
		}
		@include media($range-lap, false) {
			display: flex;
		}
	}

	.form--top-aligned-labels & {
		@include media($range-lap, false) {
			display: block;
		}
	}
}

.form__field.is-hidden { // NOTE: is-hidden styling is seperated from main form__field-label styling due to stylelint settings which doesn't accept .is-hidden to come after modifier styles
	display: none;
}

.form__field-header {
	display: block; // NOTE: Set block for when field-header is a label element.
	margin-bottom: $spacing / 8;

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {
		@include media($range-lap, false) {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
			padding-right: $spacing * 2;
			min-width: $form-section-header-min-width;
			width: $form-field-header-width;
		}
	}

	.form--right-aligned-labels & {
		@include media($range-lap, false) {
			text-align: right;
		}
	}

	.form--left-aligned-labels & {
		@include media($range-lap, false) {
			text-align: left;
		}
	}

	.form--top-aligned-labels & {
		@include media($range-lap, false) {
			display: block;
			margin-bottom: $spacing / 4;
			padding-right: 0;
			min-width: 0;
			width: auto;
			text-align: left;
		}
	}
}

.form__field-label {
	display: block;
	font-size: $font-size-100;
	line-height: $line-height-60;

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {
		@include media($range-lap, false) {
			display: flex; // NOTE: To be able to align content.
			flex-direction: column;
			min-height: $control-size-100;
			font-size: $font-size-200;
			justify-content: center; // NOTE: To vertical align content with input. Works in combination with flex-direction column.
		}
	}

	.form--top-aligned-labels & {
		@include media($range-lap, false) {
			display: block;
			min-height: 0;
			font-size: $font-size-100;
		}
	}
}

.form__field-label.is-hidden { // NOTE: is-hidden styling is seperated from main form__field-label styling due to stylelint settings which doesn't accept .is-hidden to come after modifier styles
	display: none;
}

.form__field-supporting-text {
	color: $color-text-60;
	font-size: $font-size-80;
	line-height: $line-height-20;

	&::before {
		content: ' (';
	}

	&::after {
		content: ')';
	}

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {

		@include media($range-lap, false) {

			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}
	}

	.form--top-aligned-labels & {

		@include media($range-lap, false) {

			&::before {
				content: ' (';
			}

			&::after {
				content: ')';
			}
		}
	}
}

.form__field-main {

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {
		@include media($range-lap, false) {
			width: $form-field-main-width;
		}
	}

	.form--top-aligned-labels & {
		@include media($range-lap, false) {
			width: auto;
		}
	}
}

.form__field-section {
	position: relative;
	display: block;
	margin-top: $spacing * 0.75;

	&:first-child {
		margin-top: 0;
	}

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {
		@include media($range-lap, false) {
			max-width: $form-control-max-width;
		}
	}

	.form--top-aligned-labels & {
		@include media($range-lap, false) {
			max-width: none;
		}
	}
}

.form__input-feedback-text {
	position: relative;
	display: block;
	margin-top: $spacing / 2;
	margin-right: 0;
	margin-bottom: $spacing / 4;
	max-width: $text-width-200;
	color: $color-error;
	line-height: $line-height-60;

	@include media(0, $range-hand) {
		font-size: $font-size-90;
	}
	@include media($range-lap, false) {
		font-size: $font-size-100;
	}

	&.is-hidden {
		display: none;
	}
}

.form__input-helper-text {
	display: block;
	margin-top: $spacing / 2;
	margin-right: 0;
	margin-bottom: $spacing / 4;
	max-width: $text-width-200;
	color: $color-text-70;
	line-height: $line-height-60;

	@include media(0, $range-hand) {
		font-size: $font-size-90;
	}
	@include media($range-lap, false) {
		font-size: $font-size-100;
	}
}

.form__actions {
	margin: $spacing * -1;

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {
		@include media($range-lap, false) {
			margin-left: calc(#{$form-field-header-width} - #{$spacing * 1});
			padding-left: calc(#{$form-section-header-min-width} - #{$form-field-header-width});
			max-width: calc(#{$form-control-max-width} + #{$spacing * 2});
			width: calc(#{$form-field-main-width} + #{$spacing * 2});
		}
	}

	.form--inlined-actions & {
		@include media($range-lap, false) {
			display: flex;
		}
	}
}

.form__action {
	margin: $spacing;
	display: flex;
	align-items: center;

	.form--right-aligned-labels &,
	.form--left-aligned-labels & {
		@include media($range-lap, false) {
			max-width: $form-control-max-width;
		}
	}
}
