// Set standardized spacing size for margins and paddings
$layout-spacing-60-palm-and-smaller: $spacing;
$layout-spacing-60-hand: $spacing;
$layout-spacing-60-lap: $spacing;
$layout-spacing-60-desk-and-larger: $spacing;

$layout-spacing-70-palm-and-smaller: $spacing;
$layout-spacing-70-hand: $spacing * 1.25;
$layout-spacing-70-lap: $spacing * 1.5;
$layout-spacing-70-desk-and-larger: $spacing * 1.75;

$layout-spacing-80-palm-and-smaller: $spacing * 1.5;
$layout-spacing-80-hand: $spacing * 1.5;
$layout-spacing-80-lap: $spacing * 2;
$layout-spacing-80-desk-and-larger: $spacing * 2.5;

$layout-spacing-90-palm-and-smaller: $spacing * 1.5;
$layout-spacing-90-hand: $spacing * 2;
$layout-spacing-90-lap: $spacing * 3;
$layout-spacing-90-desk-and-larger: $spacing * 4;

$layout-spacing-palm-and-smaller: $spacing * 2;
$layout-spacing-hand: $spacing * 3;
$layout-spacing-lap: $spacing * 4;
$layout-spacing-desk-and-larger: $spacing * 5;

$layout-spacing-200-palm-and-smaller: $spacing * 2;
$layout-spacing-200-hand: $spacing * 4;
$layout-spacing-200-lap: $spacing * 6;
$layout-spacing-200-desk-and-larger: $spacing * 8;

$layout-spacing-300-palm-and-smaller: $spacing * 2;
$layout-spacing-300-hand: $spacing * 5;
$layout-spacing-300-lap: $spacing * 8;
$layout-spacing-300-desk-and-larger: $spacing * 11;

$layout-column-spacing-hand-and-smaller: $spacing;
$layout-column-spacing-lap-and-larger: $spacing * 2;

$layout-column-spacing-90-hand-and-smaller: $spacing * 0.75;
$layout-column-spacing-90-lap-and-larger: $spacing;

$layout-column-one-third-percentage: 33%;
$layout-column-two-thirds-percentage: 67%;

// Other local variables
$layout-section-bordered-border: $border-ui-90 !default;

$layout-section-rounded-border-radius-hand-and-smaller: $border-radius-100 !default;
$layout-section-rounded-border-radius-lap-and-larger: $border-radius-200 !default;

$layout-section-colored-background-color: $color-background-colored !default;
$layout-section-neutral-background-color: $color-background-neutral !default;
$layout-section-light-background-color: $color-background-light !default;
$layout-section-dark-background-color: $color-background-dark !default;

$layout-section-elevated-box-shadow: $box-shadow !default;

.layout {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
}

.layout__section {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-desk-and-larger;
		}
	}

	&:last-child {
		flex-grow: 1;
	}
}

.layout__section--bordered {
	border: $layout-section-bordered-border;
}

.layout__section--boxed {
	border: $layout-section-bordered-border;
	background-color: $layout-section-neutral-background-color;
}

.layout__section--bordered-top {
	border-top: $layout-section-bordered-border;
}

.layout__section--bordered-bottom {
	border-bottom: $layout-section-bordered-border;
}

.layout__section--rounded {
	@include media(0, $range-hand) {
		border-radius: $layout-section-rounded-border-radius-hand-and-smaller;
	}
	@include media($range-lap, false) {
		border-radius: $layout-section-rounded-border-radius-lap-and-larger;
	}

	> :first-child {
		@include media(0, $range-hand) {
			border-top-left-radius: $layout-section-rounded-border-radius-hand-and-smaller;
			border-top-right-radius: $layout-section-rounded-border-radius-hand-and-smaller;
		}
		@include media($range-lap, false) {
			border-top-left-radius: $layout-section-rounded-border-radius-lap-and-larger;
			border-top-right-radius: $layout-section-rounded-border-radius-lap-and-larger;
		}
	}

	> :last-child {
		@include media(0, $range-hand) {
			border-bottom-right-radius: $layout-section-rounded-border-radius-hand-and-smaller;
			border-bottom-left-radius: $layout-section-rounded-border-radius-hand-and-smaller;
		}
		@include media($range-lap, false) {
			border-bottom-right-radius: $layout-section-rounded-border-radius-lap-and-larger;
			border-bottom-left-radius: $layout-section-rounded-border-radius-lap-and-larger;
		}
	}
}

.layout__section--rounded-top {
	@include media(0, $range-hand) {
		border-top-left-radius: $layout-section-rounded-border-radius-hand-and-smaller;
		border-top-right-radius: $layout-section-rounded-border-radius-hand-and-smaller;
	}
	@include media($range-lap, false) {
		border-top-left-radius: $layout-section-rounded-border-radius-lap-and-larger;
		border-top-right-radius: $layout-section-rounded-border-radius-lap-and-larger;
	}

	> :first-child {
		@include media(0, $range-hand) {
			border-top-left-radius: $layout-section-rounded-border-radius-hand-and-smaller;
			border-top-right-radius: $layout-section-rounded-border-radius-hand-and-smaller;
		}
		@include media($range-lap, false) {
			border-top-left-radius: $layout-section-rounded-border-radius-lap-and-larger;
			border-top-right-radius: $layout-section-rounded-border-radius-lap-and-larger;
		}
	}
}

.layout__section--rounded-bottom {
	@include media(0, $range-hand) {
		border-bottom-right-radius: $layout-section-rounded-border-radius-hand-and-smaller;
		border-bottom-left-radius: $layout-section-rounded-border-radius-hand-and-smaller;
	}
	@include media($range-lap, false) {
		border-bottom-right-radius: $layout-section-rounded-border-radius-lap-and-larger;
		border-bottom-left-radius: $layout-section-rounded-border-radius-lap-and-larger;
	}

	> :last-child {
		@include media(0, $range-hand) {
			border-bottom-right-radius: $layout-section-rounded-border-radius-hand-and-smaller;
			border-bottom-left-radius: $layout-section-rounded-border-radius-hand-and-smaller;
		}
		@include media($range-lap, false) {
			border-bottom-right-radius: $layout-section-rounded-border-radius-lap-and-larger;
			border-bottom-left-radius: $layout-section-rounded-border-radius-lap-and-larger;
		}
	}
}

.layout__section--colored {
	background-color: $layout-section-colored-background-color;
}

.layout__section--light {
	background-color: $layout-section-light-background-color;
}

.layout__section--dark {
	background-color: $layout-section-dark-background-color;
}

.layout__section--elevated {
	box-shadow: $layout-section-elevated-box-shadow;
}

.layout__section--fitted {
	flex-grow: 0;

	&:last-child {
		flex-grow: 0;
	}
}

.layout__section--sticky-top {
	position: sticky;
	top: 0;
}

.layout__section--sticky-bottom {
	position: sticky;
	bottom: 0;
}

.layout__section--spacing-60 {

	> :not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-60-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-60-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-60-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-60-desk-and-larger;
		}
	}
}

.layout__section--spacing-70 {

	> :not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-70-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-70-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-70-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-70-desk-and-larger;
		}
	}
}

.layout__section--spacing-80 {

	> :not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-80-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-80-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-80-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-80-desk-and-larger;
		}
	}
}

.layout__section--spacing-90 {

	> :not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-90-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-90-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-90-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-90-desk-and-larger;
		}
	}
}

.layout__section--spacing-100 {

	> :not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-desk-and-larger;
		}
	}
}

.layout__section--spacing-200 {

	> :not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-200-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-200-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-200-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-200-desk-and-larger;
		}
	}
}

.layout__section--spacing-300 {

	> :not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-300-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-300-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-300-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-300-desk-and-larger;
		}
	}
}

.layout__section--spaced-0 {

	&:not(:first-child) {
		margin-top: 0;
	}
}

.layout__section--spaced-60 {

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-60-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-60-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-60-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-60-desk-and-larger;
		}
	}
}

.layout__section--spaced-70 {

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-70-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-70-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-70-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-70-desk-and-larger;
		}
	}
}

.layout__section--spaced-80 {

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-80-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-80-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-80-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-80-desk-and-larger;
		}
	}
}

.layout__section--spaced-90 {

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-90-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-90-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-90-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-90-desk-and-larger;
		}
	}
}

.layout__section--spaced-200 {

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-200-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-200-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-200-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-200-desk-and-larger;
		}
	}
}

.layout__section--spaced-300 {

	&:not(:first-child) {
		@include media(0, $range-palm) {
			margin-top: $layout-spacing-300-palm-and-smaller;
		}
		@include media($range-hand) {
			margin-top: $layout-spacing-300-hand;
		}
		@include media($range-lap) {
			margin-top: $layout-spacing-300-lap;
		}
		@include media($range-desk, false) {
			margin-top: $layout-spacing-300-desk-and-larger;
		}
	}
}

.layout__section--wrapping {
	flex-wrap: wrap;
}

.layout__section--right-aligning {
	align-items: flex-end;
}

.layout__section--vertical-centering {
	justify-content: center;
}

.layout__section--centering {
	justify-content: center;
	align-items: center;
}

.layout__inner {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	max-width: $spacing * 160;
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;

	@include media(0, $range-palm) {
		padding: $layout-spacing-palm-and-smaller;
	}
	@include media($range-hand) {
		padding: $layout-spacing-hand;
	}
	@include media($range-lap) {
		padding: $layout-spacing-lap;
	}
	@include media($range-desk, false) {
		padding: $layout-spacing-desk-and-larger;
	}
}

.layout__inner--fitted {
	max-width: none;
	width: auto;
}

.layout__inner--stretched {
	max-width: none;
}

.layout__inner--expanded {
	max-width: $spacing * 280;
}

.layout__inner--extended {
	max-width: $spacing * 240;
}

.layout__inner--wide {
	max-width: $spacing * 200;
}

.layout__inner--narrow {
	max-width: $spacing * 120;
}

.layout__inner--condensed {
	max-width: $spacing * 80;
}

.layout__inner--compressed {
	max-width: $spacing * 40;
}

.layout__inner--padded-0 {
	padding: 0;
}

.layout__inner--padded-60 {
	@include media(0, $range-palm) {
		padding: $layout-spacing-60-palm-and-smaller;
	}
	@include media($range-hand) {
		padding: $layout-spacing-60-hand;
	}
	@include media($range-lap) {
		padding: $layout-spacing-60-lap;
	}
	@include media($range-desk, false) {
		padding: $layout-spacing-60-desk-and-larger;
	}
}

.layout__inner--padded-70 {
	@include media(0, $range-palm) {
		padding: $layout-spacing-70-palm-and-smaller;
	}
	@include media($range-hand) {
		padding: $layout-spacing-70-hand;
	}
	@include media($range-lap) {
		padding: $layout-spacing-70-lap;
	}
	@include media($range-desk, false) {
		padding: $layout-spacing-70-desk-and-larger;
	}
}

.layout__inner--padded-80 {
	@include media(0, $range-palm) {
		padding: $layout-spacing-80-palm-and-smaller;
	}
	@include media($range-hand) {
		padding: $layout-spacing-80-hand;
	}
	@include media($range-lap) {
		padding: $layout-spacing-80-lap;
	}
	@include media($range-desk, false) {
		padding: $layout-spacing-80-desk-and-larger;
	}
}

.layout__inner--padded-90 {
	@include media(0, $range-palm) {
		padding: $layout-spacing-90-palm-and-smaller;
	}
	@include media($range-hand) {
		padding: $layout-spacing-90-hand;
	}
	@include media($range-lap) {
		padding: $layout-spacing-90-lap;
	}
	@include media($range-desk, false) {
		padding: $layout-spacing-90-desk-and-larger;
	}
}

.layout__inner--padded-200 {
	@include media(0, $range-palm) {
		padding: $layout-spacing-200-palm-and-smaller;
	}
	@include media($range-hand) {
		padding: $layout-spacing-200-hand;
	}
	@include media($range-lap) {
		padding: $layout-spacing-200-lap;
	}
	@include media($range-desk, false) {
		padding: $layout-spacing-200-desk-and-larger;
	}
}

.layout__inner--padded-300 {
	@include media(0, $range-palm) {
		padding: $layout-spacing-300-palm-and-smaller;
	}
	@include media($range-hand) {
		padding: $layout-spacing-300-hand;
	}
	@include media($range-lap) {
		padding: $layout-spacing-300-lap;
	}
	@include media($range-desk, false) {
		padding: $layout-spacing-300-desk-and-larger;
	}
}

.layout__inner--padded-top-bottom-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.layout__inner--padded-top-bottom-60 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-60-palm-and-smaller;
		padding-bottom: $layout-spacing-60-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-60-hand;
		padding-bottom: $layout-spacing-60-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-60-lap;
		padding-bottom: $layout-spacing-60-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-60-desk-and-larger;
		padding-bottom: $layout-spacing-60-desk-and-larger;
	}
}

.layout__inner--padded-top-bottom-70 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-70-palm-and-smaller;
		padding-bottom: $layout-spacing-70-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-70-hand;
		padding-bottom: $layout-spacing-70-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-70-lap;
		padding-bottom: $layout-spacing-70-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-70-desk-and-larger;
		padding-bottom: $layout-spacing-70-desk-and-larger;
	}
}

.layout__inner--padded-top-bottom-80 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-80-palm-and-smaller;
		padding-bottom: $layout-spacing-80-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-80-hand;
		padding-bottom: $layout-spacing-80-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-80-lap;
		padding-bottom: $layout-spacing-80-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-80-desk-and-larger;
		padding-bottom: $layout-spacing-80-desk-and-larger;
	}
}

.layout__inner--padded-top-bottom-90 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-90-palm-and-smaller;
		padding-bottom: $layout-spacing-90-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-90-hand;
		padding-bottom: $layout-spacing-90-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-90-lap;
		padding-bottom: $layout-spacing-90-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-90-desk-and-larger;
		padding-bottom: $layout-spacing-90-desk-and-larger;
	}
}

.layout__inner--padded-top-bottom-200 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-200-palm-and-smaller;
		padding-bottom: $layout-spacing-200-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-200-hand;
		padding-bottom: $layout-spacing-200-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-200-lap;
		padding-bottom: $layout-spacing-200-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-200-desk-and-larger;
		padding-bottom: $layout-spacing-200-desk-and-larger;
	}
}

.layout__inner--padded-top-bottom-300 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-300-palm-and-smaller;
		padding-bottom: $layout-spacing-300-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-300-hand;
		padding-bottom: $layout-spacing-300-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-300-lap;
		padding-bottom: $layout-spacing-300-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-300-desk-and-larger;
		padding-bottom: $layout-spacing-300-desk-and-larger;
	}
}

.layout__inner--padded-left-right-0 {
	padding-right: 0;
	padding-left: 0;
}

.layout__inner--padded-left-right-60 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-60-palm-and-smaller;
		padding-left: $layout-spacing-60-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-60-hand;
		padding-left: $layout-spacing-60-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-60-lap;
		padding-left: $layout-spacing-60-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-60-desk-and-larger;
		padding-left: $layout-spacing-60-desk-and-larger;
	}
}

.layout__inner--padded-left-right-70 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-70-palm-and-smaller;
		padding-left: $layout-spacing-70-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-70-hand;
		padding-left: $layout-spacing-70-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-70-lap;
		padding-left: $layout-spacing-70-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-70-desk-and-larger;
		padding-left: $layout-spacing-70-desk-and-larger;
	}
}

.layout__inner--padded-left-right-80 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-80-palm-and-smaller;
		padding-left: $layout-spacing-80-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-80-hand;
		padding-left: $layout-spacing-80-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-80-lap;
		padding-left: $layout-spacing-80-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-80-desk-and-larger;
		padding-left: $layout-spacing-80-desk-and-larger;
	}
}

.layout__inner--padded-left-right-90 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-90-palm-and-smaller;
		padding-left: $layout-spacing-90-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-90-hand;
		padding-left: $layout-spacing-90-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-90-lap;
		padding-left: $layout-spacing-90-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-90-desk-and-larger;
		padding-left: $layout-spacing-90-desk-and-larger;
	}
}

.layout__inner--padded-left-right-200 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-200-palm-and-smaller;
		padding-left: $layout-spacing-200-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-200-hand;
		padding-left: $layout-spacing-200-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-200-lap;
		padding-left: $layout-spacing-200-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-200-desk-and-larger;
		padding-left: $layout-spacing-200-desk-and-larger;
	}
}

.layout__inner--padded-left-right-300 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-300-palm-and-smaller;
		padding-left: $layout-spacing-300-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-300-hand;
		padding-left: $layout-spacing-300-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-300-lap;
		padding-left: $layout-spacing-300-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-300-desk-and-larger;
		padding-left: $layout-spacing-300-desk-and-larger;
	}
}

.layout__inner--padded-top-0 {
	padding-top: 0;
}

.layout__inner--padded-right-0 {
	padding-right: 0;
}

.layout__inner--padded-bottom-0 {
	padding-bottom: 0;
}

.layout__inner--padded-left-0 {
	padding-left: 0;
}

.layout__inner--padded-top-60 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-60-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-60-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-60-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-60-desk-and-larger;
	}
}

.layout__inner--padded-right-60 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-60-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-60-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-60-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-60-desk-and-larger;
	}
}

.layout__inner--padded-bottom-60 {
	@include media(0, $range-palm) {
		padding-bottom: $layout-spacing-60-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-bottom: $layout-spacing-60-hand;
	}
	@include media($range-lap) {
		padding-bottom: $layout-spacing-60-lap;
	}
	@include media($range-desk, false) {
		padding-bottom: $layout-spacing-60-desk-and-larger;
	}
}

.layout__inner--padded-left-60 {
	@include media(0, $range-palm) {
		padding-left: $layout-spacing-60-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-left: $layout-spacing-60-hand;
	}
	@include media($range-lap) {
		padding-left: $layout-spacing-60-lap;
	}
	@include media($range-desk, false) {
		padding-left: $layout-spacing-60-desk-and-larger;
	}
}

.layout__inner--padded-top-70 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-70-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-70-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-70-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-70-desk-and-larger;
	}
}

.layout__inner--padded-right-70 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-70-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-70-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-70-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-70-desk-and-larger;
	}
}

.layout__inner--padded-bottom-70 {
	@include media(0, $range-palm) {
		padding-bottom: $layout-spacing-70-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-bottom: $layout-spacing-70-hand;
	}
	@include media($range-lap) {
		padding-bottom: $layout-spacing-70-lap;
	}
	@include media($range-desk, false) {
		padding-bottom: $layout-spacing-70-desk-and-larger;
	}
}

.layout__inner--padded-left-70 {
	@include media(0, $range-palm) {
		padding-left: $layout-spacing-70-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-left: $layout-spacing-70-hand;
	}
	@include media($range-lap) {
		padding-left: $layout-spacing-70-lap;
	}
	@include media($range-desk, false) {
		padding-left: $layout-spacing-70-desk-and-larger;
	}
}

.layout__inner--padded-top-80 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-80-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-80-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-80-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-80-desk-and-larger;
	}
}

.layout__inner--padded-right-80 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-80-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-80-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-80-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-80-desk-and-larger;
	}
}

.layout__inner--padded-bottom-80 {
	@include media(0, $range-palm) {
		padding-bottom: $layout-spacing-80-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-bottom: $layout-spacing-80-hand;
	}
	@include media($range-lap) {
		padding-bottom: $layout-spacing-80-lap;
	}
	@include media($range-desk, false) {
		padding-bottom: $layout-spacing-80-desk-and-larger;
	}
}

.layout__inner--padded-left-80 {
	@include media(0, $range-palm) {
		padding-left: $layout-spacing-80-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-left: $layout-spacing-80-hand;
	}
	@include media($range-lap) {
		padding-left: $layout-spacing-80-lap;
	}
	@include media($range-desk, false) {
		padding-left: $layout-spacing-80-desk-and-larger;
	}
}

.layout__inner--padded-top-90 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-90-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-90-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-90-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-90-desk-and-larger;
	}
}

.layout__inner--padded-right-90 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-90-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-90-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-90-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-90-desk-and-larger;
	}
}

.layout__inner--padded-bottom-90 {
	@include media(0, $range-palm) {
		padding-bottom: $layout-spacing-90-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-bottom: $layout-spacing-90-hand;
	}
	@include media($range-lap) {
		padding-bottom: $layout-spacing-90-lap;
	}
	@include media($range-desk, false) {
		padding-bottom: $layout-spacing-90-desk-and-larger;
	}
}

.layout__inner--padded-left-90 {
	@include media(0, $range-palm) {
		padding-left: $layout-spacing-90-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-left: $layout-spacing-90-hand;
	}
	@include media($range-lap) {
		padding-left: $layout-spacing-90-lap;
	}
	@include media($range-desk, false) {
		padding-left: $layout-spacing-90-desk-and-larger;
	}
}

.layout__inner--padded-top-200 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-200-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-200-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-200-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-200-desk-and-larger;
	}
}

.layout__inner--padded-right-200 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-200-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-200-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-200-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-200-desk-and-larger;
	}
}

.layout__inner--padded-bottom-200 {
	@include media(0, $range-palm) {
		padding-bottom: $layout-spacing-200-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-bottom: $layout-spacing-200-hand;
	}
	@include media($range-lap) {
		padding-bottom: $layout-spacing-200-lap;
	}
	@include media($range-desk, false) {
		padding-bottom: $layout-spacing-200-desk-and-larger;
	}
}

.layout__inner--padded-left-200 {
	@include media(0, $range-palm) {
		padding-left: $layout-spacing-200-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-left: $layout-spacing-200-hand;
	}
	@include media($range-lap) {
		padding-left: $layout-spacing-200-lap;
	}
	@include media($range-desk, false) {
		padding-left: $layout-spacing-200-desk-and-larger;
	}
}

.layout__inner--padded-top-300 {
	@include media(0, $range-palm) {
		padding-top: $layout-spacing-300-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-top: $layout-spacing-300-hand;
	}
	@include media($range-lap) {
		padding-top: $layout-spacing-300-lap;
	}
	@include media($range-desk, false) {
		padding-top: $layout-spacing-300-desk-and-larger;
	}
}

.layout__inner--padded-right-300 {
	@include media(0, $range-palm) {
		padding-right: $layout-spacing-300-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-right: $layout-spacing-300-hand;
	}
	@include media($range-lap) {
		padding-right: $layout-spacing-300-lap;
	}
	@include media($range-desk, false) {
		padding-right: $layout-spacing-300-desk-and-larger;
	}
}

.layout__inner--padded-bottom-300 {
	@include media(0, $range-palm) {
		padding-bottom: $layout-spacing-300-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-bottom: $layout-spacing-300-hand;
	}
	@include media($range-lap) {
		padding-bottom: $layout-spacing-300-lap;
	}
	@include media($range-desk, false) {
		padding-bottom: $layout-spacing-300-desk-and-larger;
	}
}

.layout__inner--padded-left-300 {
	@include media(0, $range-palm) {
		padding-left: $layout-spacing-300-palm-and-smaller;
	}
	@include media($range-hand) {
		padding-left: $layout-spacing-300-hand;
	}
	@include media($range-lap) {
		padding-left: $layout-spacing-300-lap;
	}
	@include media($range-desk, false) {
		padding-left: $layout-spacing-300-desk-and-larger;
	}
}

.layout__columns {
	display: flex;
	flex-wrap: wrap;

	@include media(0, $range-hand) {
		margin: $layout-column-spacing-hand-and-smaller * -1;
	}
	@include media($range-lap, false) {
		margin: $layout-column-spacing-lap-and-larger * -1;
	}
}

.layout__columns--spacing-0 {
	margin: 0;
}

.layout__columns--spacing-90 {
	@include media(0, $range-hand) {
		margin: $layout-column-spacing-90-hand-and-smaller * -1;
	}
	@include media($range-lap, false) {
		margin: $layout-column-spacing-90-lap-and-larger * -1;
	}
}

.layout__columns--not-wrapping-lap-and-larger {
	@include media($range-lap, false) {
		flex-wrap: nowrap;
	}
}

.layout__column {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	@include media(0, $range-hand) {
		flex-basis: $spacing * 30;
		margin: $layout-column-spacing-hand-and-smaller;
	}
	@include media($range-lap, false) {
		flex-basis: $spacing * 40;
		margin: $layout-column-spacing-lap-and-larger;
	}

	.layout__columns--spacing-90 > & {
		@include media(0, $range-hand) {
			margin: $layout-column-spacing-90-hand-and-smaller;
		}
		@include media($range-lap, false) {
			margin: $layout-column-spacing-90-lap-and-larger;
		}
	}

	.layout__columns--spacing-0 > & {
		margin: 0;
	}
}

.layout__column--one-half {
	flex-basis: $spacing * 35;

	@include media(0, $range-hand) {
		min-width: calc(50% - #{$layout-column-spacing-hand-and-smaller * 2});
	}
	@include media($range-lap, false) {
		min-width: calc(50% - #{$layout-column-spacing-lap-and-larger * 2});
	}

	.layout__columns--spacing-90 > & {
		@include media(0, $range-hand) {
			min-width: calc(50% - #{$layout-column-spacing-90-hand-and-smaller * 2});
		}
		@include media($range-lap, false) {
			min-width: calc(50% - #{$layout-column-spacing-90-lap-and-larger * 2});
		}
	}

	.layout__columns--spacing-0 > & {
		min-width: 50%;
	}
}

.layout__column--one-third {
	flex-basis: $spacing * 35;

	@include media(0, $range-hand) {
		min-width: calc(#{$layout-column-one-third-percentage} - #{$layout-column-spacing-hand-and-smaller * 2});
	}
	@include media($range-lap, false) {
		min-width: calc(#{$layout-column-one-third-percentage} - #{$layout-column-spacing-lap-and-larger * 2});
	}

	.layout__columns--spacing-90 > & {
		@include media(0, $range-hand) {
			min-width: calc(#{$layout-column-one-third-percentage} - #{$layout-column-spacing-90-hand-and-smaller * 2});
		}
		@include media($range-lap, false) {
			min-width: calc(#{$layout-column-one-third-percentage} - #{$layout-column-spacing-90-lap-and-larger * 2});
		}
	}

	.layout__columns--spacing-0 > & {
		min-width: $layout-column-one-third-percentage;
	}
}

.layout__column--two-thirds {
	flex-basis: $spacing * 60;
	flex-grow: 2;

	@include media(0, $range-hand) {
		min-width: calc(#{$layout-column-two-thirds-percentage} - #{$layout-column-spacing-hand-and-smaller * 2});
	}
	@include media($range-lap, false) {
		min-width: calc(#{$layout-column-two-thirds-percentage} - #{$layout-column-spacing-lap-and-larger * 2});
	}

	.layout__columns--spacing-90 > & {
		@include media(0, $range-hand) {
			min-width: calc(#{$layout-column-two-thirds-percentage} - #{$layout-column-spacing-90-hand-and-smaller * 2});
		}
		@include media($range-lap, false) {
			min-width: calc(#{$layout-column-two-thirds-percentage} - #{$layout-column-spacing-90-lap-and-larger * 2});
		}
	}

	.layout__columns--spacing-0 > & {
		min-width: $layout-column-two-thirds-percentage;
	}
}
