.menu-view {
	position: relative;

	@include media($range-desk, false) {
		padding-left: $spacing * 35;
	}
}

.menu-view__navigation-status {
	position: absolute;
	top: 0; // FIX: Fixes some render bugs.
	left: 0; // FIX: Fixes some render bugs.
	z-index: -100; // NOTE: Put the input behind the label so it doesn't overlay text.
	opacity: 0; // NOTE: we use this instead of display:none to allow focusing.
}

.menu-view__sidebar {
	background-color: $color-background-neutral;

	@include media($range-desk, false) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		overflow-x: none;
		overflow-y: scroll;
		width: $spacing * 35;
		-webkit-overflow-scrolling: touch;
		overscroll-behavior: contain;
		-ms-scroll-chaining: none;
	}
}

.menu-view__status-bar {
	@include ellipsis($display: block);
	padding: (($spacing / 8) $spacing);
	background-color: $color-background-colored;
	color: $color-text-light;
	text-align: center;
	font-size: $font-size-60;
}

.menu-view__sidebar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-view__logo {
	display: block;
	margin: $spacing * 2;
	color: $color-text;
	font-size: $font-size-400;
	font-weight: $font-weight-200;
}

.menu-view__toggle {

	@include media(0, $range-lap) {
		margin: $spacing * 2;
	}

	@include media($range-desk, false) {
		display: none;
	}
}

.menu-view__show-action {

	.menu-view__navigation-status:checked ~ .menu-view__sidebar & {
		display: none;
	}
}

.menu-view__hide-action {
	display: none;

	.menu-view__navigation-status:checked ~ .menu-view__sidebar & {
		display: inline;
	}
}

.menu-view__sidebar-main {
	border-top: $border-ui-100;

	@include media(0, $range-lap) {
		display: none;
	}

	.menu-view__navigation-status:checked ~ .menu-view__sidebar & {
		@include media(0, $range-lap) {
			display: block;
		}
	}
}

.menu-view__main {
	height: 100%;

	.menu-view__navigation-status:checked ~ & {
		@include media(0, $range-lap) {
			display: none;
		}
	}
}
