.split-view {

	@include media($range-lap, false) {
		padding-left: $spacing * 35;
	}
}

.split-view__sidebar {
	background-color: $color-background-neutral;

	@include media($range-lap, false) {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: $spacing * 35;
		box-shadow: $box-shadow;
		overflow-y: scroll;
		overflow-x: none;
		-webkit-overflow-scrolling: touch;
		overscroll-behavior: contain;
		-ms-scroll-chaining: none;
	}
}

.split-view__sidebar-header {
	background-color: $color-secondary;
	padding: $spacing ($spacing * 2);
}

.split-view__sidebar-main {
	@include media(0, $range-hand) {
		display: none;
	}
}
