.split-view {
	position: relative;

	@include media($range-desk, false) {
		padding-left: $spacing * 35;
	}
}

.split-view__navigation-status {
	position: absolute;
	top: 0; // FIX: Fixes some render bugs.
	left: 0; // FIX: Fixes some render bugs.
	z-index: -100; // NOTE: Put the input behind the label so it doesn't overlay text.
	opacity: 0; // NOTE: we use this instead of display:none to allow focusing.
}

.split-view__sidebar {
	background-color: $color-background-neutral;

	@include media($range-desk, false) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		overflow-x: none;
		overflow-y: scroll;
		width: $spacing * 35;
		-webkit-overflow-scrolling: touch;
		overscroll-behavior: contain;
		-ms-scroll-chaining: none;
	}
}

.split-view__logo {
	@include font-smoothing;
	display: block;
	margin: $spacing * 2;
	color: $color-text-light;
	font-size: $font-size-500;
	font-weight: $font-weight-200;
}

.split-view__status-bar {
	@include ellipsis($display: block);
	padding: (($spacing / 8) $spacing);
	background-color: $color-background-dark;
	color: $color-text-light;
	text-align: center;
	font-size: $font-size-60;
}

.split-view__sidebar-main {
	@include media(0, $range-lap) {
		display: none;
	}

	.split-view__navigation-status:checked ~ .split-view__sidebar & {
		@include media(0, $range-lap) {
			display: block;
		}
	}
}

.split-view__main {
	height: 100%;

	.split-view__navigation-status:checked ~ & {
		@include media(0, $range-lap) {
			display: none;
		}
	}
}
