.toolbar {
	display: flex;
	align-items: flex-start;
}

.toolbar__group {
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;

	&:not(:first-child) {
		@include media(0, $range-hand) {
			margin-left: $spacing;
		}

		@include media($range-lap, false) {
			margin-left: $spacing * 2;
		}
	}
}

.toolbar__group--wrap-on-palm-and-lower {
	@include media(0, $range-palm) {
		flex-wrap: wrap;
		flex-shrink: initial;
	}
}

.toolbar__group--hidden-on-hand-m-and-lower {
	@include media(0, $range-hand-m) {
		display: none;
	}

	+ .toolbar__group {
		@include media(0, $range-hand-m) {
			margin-left: 0;
		}
	}
}

.toolbar__item {
	flex-shrink: 0;

	&:not(:first-child) {
		@include media(0, $range-hand) {
			margin-left: $spacing / 2;
		}

		@include media($range-lap, false) {
			margin-left: $spacing;
		}
	}
}

.toolbar__item--margin-left-0 {

	&:not(:first-child) {
		margin-left: 0;
	}
}

.toolbar__item--margin-left-90 {

	&:not(:first-child) {
		@include media(0, $range-hand) {
			margin-left: $spacing / 4;
		}

		@include media($range-lap, false) {
			margin-left: $spacing / 2;
		}
	}
}
