<!doctype html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body class="split-view">
		<div class="split-view__sidebar">
			<header class="split-view__sidebar-header">
				<div class="heading-group">
					<h1 class="heading-group__title">
						<a href="{{ '/' | relative_url }}">
							Harbour
						</a>
					</h1>
				</div>
				Harbour {{ site.packageVersion }} &middot; {{ site.branchName }} &middot; {{ site.time | date: "%-d %B %Y %R"}}
			</header>
			<div class="split-view__sidebar-main">
				{% for collection in site.collections %}
					{% if collection.label != 'posts' %}
						<h2>{{ collection.label | capitalize }}</h2>
						<div class="menu menu--light menu--padding">
						{% for page in collection.docs %}
							<a class="menu__item"
								href="{{ page.url | relative_url }}"
							>
								{{ page.title }}
							</a>
						{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="split-view__main">
			<section class="layout">
				<div class="layout__section">
					<div class="layout__inner">
						<section class="layout__section">
							<div class="content">
								<h1>{{ page.title }}</h1>
								{{ content }}
							</div>
						</section>
					</div>
				</div>
				<div class="layout__section layout__section--bordered-top">
					<div class="layout__inner">
						<div class="content content--centered">
							<p>When I'm not surfing or sailing, I am to be found at the harbour working on my boat.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
	<script>
		const codeBlockParents = document.querySelectorAll('[js-code-block-parent]');

		codeBlockParents.forEach(function(codeBlockParent) {
			const codeBlockToggle = codeBlockParent.querySelector('[js-code-block-toggle]');
			const codeBlock = codeBlockParent.querySelector('[js-code-block]');

			codeBlockToggle.addEventListener('click', function() {
				if (codeBlock.style.display === "none") {
					codeBlock.style.display = "block";
					codeBlockToggle.innerHTML = "&lt;&#47;&gt; Hide code";
				} else {
					codeBlock.style.display = "none";
					codeBlockToggle.innerHTML = "&lt;&#47;&gt; Show code";
				}
			});
		});
	</script>
</html>
