<!doctype html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body class="page">
		<header class="page__header">
			{% include page-header.html %}
		</header>
		<main class="page__main">
			<section class="layout">
				<div class="layout__section layout__section--bordered-bottom">
					<div class="layout__inner layout__inner--padded-90">
						<div class="layout__columns">
							<div class="layout__column layout__column--two-thirds">
								<header class="heading-group">
									<h1 class="heading-group__headline">
										{{ page.title }}
									</h1>
								</header>
							</div>
							<div class="layout__column layout__column--one-third">
								<div class="layout__section layout__section--right-aligning layout__section--vertical-centering">
									<a class="button button--90"
										href="{{ '/docs' | relative_url }}"
									>
										Back to documentation
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__section layout__section--spaced-0">
					<div class="layout__inner">
						<div class="layout__section layout__section--spacing-100">
							<div class="layout__section">
								<section class="content">
									{{ content }}
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="page__footer">
			{% include page-footer.html %}
		</footer>
	</body>
</html>
