<!doctype html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body class="page">
		<header class="page__header">
			{% include page-header.html %}
		</header>
		<main class="page__main">
			<section class="layout">
				<div class="layout__section layout__section--bordered-bottom">
					<div class="layout__inner layout__inner--padded-90">
						<div class="layout__columns">
							<div class="layout__column layout__column--two-thirds">
								<header class="heading-group">
									<h1 class="heading-group__headline">
										{{ page.title }}
									</h1>
								</header>
							</div>
							<div class="layout__column layout__column--one-third">
								<div class="layout__section layout__section--right-aligning layout__section--vertical-centering">
									<a class="button button--90"
										href="{{ '/' | relative_url }}"
									>
										Back to overview
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__section layout__section--spaced-0">
					<div class="layout__inner">
						<div class="layout__section">
							<div class="layout__section">
								<section class="content">
									{{ content }}
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="page__footer">
			{% include page-footer.html %}
		</footer>
	</body>

	<script>
		const codeBlockParents = document.querySelectorAll('[js-code-block-parent]');

		codeBlockParents.forEach(function(codeBlockParent) {
			const codeBlockToggle = codeBlockParent.querySelector('[js-code-block-toggle]');
			const codeBlock = codeBlockParent.querySelector('[js-code-block]');

			codeBlockToggle.addEventListener('click', function() {
				if (codeBlock.style.display === "none") {
					codeBlock.style.display = "block";
					codeBlockToggle.innerHTML = "&lt;&#47;&gt; Hide code";
				} else {
					codeBlock.style.display = "none";
					codeBlockToggle.innerHTML = "&lt;&#47;&gt; Show code";
				}
			});
		});
	</script>

</html>
