<!doctype html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body>
		<section class="page">
			<header class="page__header">
				<div class="layout">
					<div class="layout__section">
						<div class="layout__inner">
							Harbour
						</div>
					</div>
				</div>
			</header>
			<main class="page__main">
				<div class="layout">
					<div class="layout__section">
						<div class="layout__inner">
							{{ content }}
						</div>
					</div>
				</div>
			</main>
			<footer class="page__footer">
				<div class="layout__section">
					<div class="layout__inner">
						When I'm not surfing or sailing, I am to be found at the harbour working on my boat.
					</div>
				</div>
			</footer>
		</section>
	</body>
</html>
